<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
  </configSections>
  
  <appSettings>
    <add key="DefaultDirectory" value="D:\DICOM"/>
    <add key="Filter" value="*.dcm"/>
    <add key="AETitle" value="V3D_SCU"/>
    <add key="Calling_AETitle" value="V3D"/>
    <add key="Server" value="localhost"/>
    <add key="Port" value="104"/>

    <add key="StoreAsMultiAssoc" value="False"/>
    <add key="MultiAssocThreads" value="5"/>
  </appSettings>

  <loggers>
    <logger name="DicomSend" file="DicomSend" level="Verbose" default="true"/>
  </loggers>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
