<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
    <section name="specifications" type="Viatronix.Launching.Configuration.SpecificationsSection, v3dlaunch"/>
  </configSections>

  <!-- ============================================================================================================ -->
  <!-- Logger definitions                                                                                           -->
  <!--                                                                                                              -->
  <!-- Attributes:                                                                                                  -->
  <!--                                                                                                              -->
  <!-- name     required  Unique name used to identify the logger. Will also be used as the filename's              -->
  <!--                    root of not 'file' attribute is specified.                                                -->
  <!--                                                                                                              -->
  <!-- level    required  Level of the logging                                                                      -->
  <!--            Verbose, Highest                                                                                  -->
  <!--            Debug                                                                                             -->
  <!--            Timing                                                                                            -->
  <!--            Information                                                                                       -->
  <!--            Warning                                                                                           -->
  <!--            Error, Exception                                                                                  -->
  <!--            Critical                                                                                          -->
  <!-- format   Format of the message eith Xml or Text  (Default is xml)                                            -->
  <!--                                                                                                              -->
  <!-- default  required  Flag indicating the logger is the default. This allows for backward compatibility when    -->
  <!--                    the CORE libraries are used since they log only to the default. Only one logger should    -->
  <!--                    be marked as default. If more then one is then the last one in the list will be the       -->
  <!--                    default.                                                                                  -->
  <!--                                                                                                              -->
  <!-- file     optional  If specified identifies the file and path the logger is to use. If not specified then     -->
  <!--                    the logger will use the application data directory for the OS it is running on and        -->
  <!--                    append Viatronix\Logs\<name>.ext to it.                                                   -->
  <!--                                                                                                              -->
  <!-- ============================================================================================================ -->
  <loggers>
    <logger name="v3dvwsvc" level="Verbose" default="true"/>
  </loggers>

  <!-- ================================================================================================================== -->
  <!-- Section: appSettings                                                                                               -->
  <!--                                                                                                                    -->
  <!-- Defines/Lists settings used in the Enterprise Service                                                              -->
  <!--                                                                                                                    -->
  <!--    delay         Sets the time in milliseconds that the service is delayed before starting. This is needed so that -->
  <!--                  SQL server has time to start the database. the SCM will indicate that the SQL server instance is  -->
  <!--                  up but the database may not be available before we attempt to connect.                            -->
  <!--                                                                                                                    -->
  <!--    launcher      Defines the launcher to be used for launching the viewer applications. We currently               -->
  <!--                  support 4.0 and 3.5 type launching.                                                               -->
  <!--                                                                                                                    -->
  <!--    sessionusers   Specifies the list of valid user session that can be launched on                                 -->
  <!--                                                                                                                    -->
  <!--    authentication   Specifies an encrypted user/password combination to be use to authenticate to the V3D System   -->
  <!--                                                                                                                    -->
  <!--    connectionStrings  This entry points to the connection string config file.                                      -->
  <!--                                                                                                                    -->
  <!-- ================================================================================================================== -->
  <appSettings>
    <add key="connectionStrings" value="C:\ProgramData\Viatronix\Config\connections.config"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="launcher" value="Viatronix.Launching.Launcher, v3dlaunch35"/>
    <add key="sessionusers" value="mkontak"/>
    <add key="authentication" value="8iTgi/rPUvgt8PfG9laect4IFSFkme1BlxPpb29Ey3k="/>
    <add key="audit" value="v3dvwsvc_audit.log"/>
    <add key="errorView" value="ErrorViewer.exe"/>
    <add key="errorViewTitle" value="Launch Error"/>
  </appSettings>

 
  <specifications>
    <specification app="VC" max="1"/>
  </specifications>

  <!-- ================================================================================================================== -->
  <!-- Section: ServiceModel                                                                                              -->
  <!--                                                                                                                    -->
  <!-- Defines the services, behaviors and bindings used for this service model                                           -->
  <!--                                                                                                                    -->
  <!-- services                                                                                                           -->
  <!--     Viatronix.Enterprise.Rest.IService         Defines the general rest service implementation                     -->
  <!--     Viatronix.Enterprise.Rest.IFileServer      Defines the file service implementation                             -->
  <!--                                                                                                                    -->
  <!-- behaviors                                                                                                          -->
  <!--     v3drest                                    Both services share the same behaviors                              -->
  <!--                                                                                                                    -->
  <!-- bindings                                                                                                           -->
  <!--                                                                                                                    -->
  <!--     httpsBinding                               Defines a certificate based binding to the service                  -->
  <!--                                                                                                                    -->
  <!--     httpBinding                                Defines the general http non-encrypted binding                      -->
  <!--                                                                                                                    -->
  <!--     streamBinding                              Defines a streaming binding used for the File Service               -->
  <!--                                                                                                                    -->
  <!--                                                                                                                    -->
  <!-- ================================================================================================================== -->
  <system.serviceModel>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>

    <services>
      <service name="Viatronix.Services.ViewerRestService">

        <endpoint address="http://localhost:8001/ViewerService/" binding="webHttpBinding" contract="Viatronix.Services.IViewerRestService" behaviorConfiguration="v3dviewerrest" bindingConfiguration="httpBinding"/>

   </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="v3dviewerrest">
          <CorsSupport/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="CorsSupport" type="Viatronix.WebHttpCors.CorsSupportBehaviorElement, WebHttpCors"/>
      </behaviorExtensions>
    </extensions>


    <bindings>
      <webHttpBinding>

        <binding name="httpsBinding" transferMode="Buffered">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>

        <binding name="httpBinding" transferMode="Buffered">
          <security mode="None"/>
        </binding>

        <binding name="streamBinding" transferMode="Streamed" maxBufferPoolSize="25000000000" maxBufferSize="100000000" maxReceivedMessageSize="2000000000" openTimeout="05:25:00" closeTimeout="00:25:00" sendTimeout="00:25:00" receiveTimeout="0:25:00">
          <security mode="None"/>
        </binding>

      </webHttpBinding>
    </bindings>

  </system.serviceModel>



  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
