<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="filesSection" type="Viatronix.Utilities.Service.ServiceManager.ConfigurationFilesSectionHandler, ServiceManager"/>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
    <section name="providers" type="Viatronix.Enterprise.Configuration.ProviderSection, v3dent"/>
  </configSections>

  <!-- ======================================================================= -->
  <!-- Configuration Files that this program can modify.                       -->  
  <!--                                                                         -->
  <!-- Attributes:                                                             -->
  <!--                                                                         -->
  <!-- name      required  Unique name denoting the configuration file's name. -->
  <!--                     This name will appear in a list for user's choice.  -->
  <!--                                                                         -->
  <!-- filename  required  The filename where the configuration file resides.  -->
  <!--                                                                         -->
  <!-- ======================================================================= -->
  <filesSection>
    <file name="Connection Strings" filename="$(ConfigDirectory)\connections.config"/>
    <file name="Console" filename="$(InstallDirectory)\Console\Console.exe.config"/>
    <file name="Dicom Service" filename="$(ServicesDirectory)\DicomService\DicomService.exe.config"/>
    <file name="Enterprise Service" filename="$(ServicesDirectory)\EnterpriseService\EnterpriseService.exe.config"/>
    <file name="File Service" filename="$(ServicesDirectory)\FileService\FileService.exe.config"/>
    <file name="Logging Service" filename="$(ServicesDirectory)\LoggingService\LoggingService.exe.config"/>
    <file name="WorkQueue Service" filename="$(ServicesDirectory)\WorkQueueService\WorkQueueService.exe.config"/>
    <file name="Dicom Send" filename="$(UtilitiesDirectory)\Dicom\DicomSend.exe.config"/>
    <file name="Importer" filename="$(UtilitiesDirectory)\Transfer\Importer.exe.config"/>
    <file name="Transfer" filename="$(UtilitiesDirectory)\Transfer\Transfer.exe.config"/>
    <file name="Anonymization Strings" filename="$(ConfigDirectory)\Console\Anonymization.xml"/>
    <file name="Anonymization Rules" filename="$(ConfigDirectory)\Console\AnonymizationRules.xml"/>
  </filesSection>

  <!-- 
  ============================================================================================================================================================  
   Section:     Providers                                                                                                                                         
   Description: List all the providers used within the application. There must be al least on security provider.                                                  
                                                                                                                                                                  
   Provider Xml Attribute Defintion                                                                                                                               
                                                                                                                                                                  
   Attribute  Required    Dscription                                                                                                                              
   name         Y         Name of the provider, must be unique.                                                                                                   
   type         Y         Fully Qualified Type name. This is the type that will be created by the ProviderFactory                                                 
   url          N         Used to identify a connection point for the provider. May be left off if there is not connection point such as the Database providers   
   aetitle      N         AE Title to be used for the provoder (PACS Providers)                                                                                   
   renewal      N         Renewal time in minutes. If this attribute is present and has a value > 0 then a renewal provider will be created internally in the     
                          provider if the provider is a security provider. If the entry is absent or 0 then the renewal provider implemented in the security      
                          provider will be disabled and it will be the applications responsibility to perform the context renewal.                                
   security     N         Security provider name that the provider links to. This is not required as the first defined security provider will be used. If         
                          you want to link providers to another security provider defined in the list you may use this attribute to do so.                        
   ver          Y         Version of the xml (1.0)                                                                                                                                                                                                                                                                   
                                                                                                                                                                  
                                                                                                                                                                  
  ============================================================================================================================================================ 
  -->
  <providers>
    <!-- REST PROVIDERS -->
      
    <!--<provider name="security" type="Viatronix.Enterprise.SDK.Providers.RestSecurityProvider, v3dent" url="http://apollo:8000/EnterpriseService" ver="1.0"/>
    <provider name="service" type="Viatronix.Enterprise.SDK.Providers.RestServiceProvider, v3dent" url="http://apollo:8000/EnterpriseService" ver="1.0"/>
    <provider name="pacs" type="Viatronix.Enterprise.SDK.Providers.DirectPacsProvider, v3dent" aetitle="V3D" ver="1.0"/>-->

    <!-- DATABASE PROVIDERS/DIRECT PACS PROVIDER -->
    
    <provider name="security" type="Viatronix.Enterprise.SDK.Providers.DatabaseSecurityProvider, v3dent" ver="1.0"/>
    <provider name="data" type="Viatronix.Enterprise.SDK.Providers.DatabaseDataProvider, v3dent" ver="1.0="/>
    <provider name="service" type="Viatronix.Enterprise.SDK.Providers.DatabaseServiceProvider, v3dent" ver="1.0"/>
    <provider name="pacs" type="Viatronix.Enterprise.SDK.Providers.DirectPacsProvider, v3dent" aetitle="V3D" ver="1.0"/>
  </providers>

  <!-- ============================================================================================================ -->
  <!-- Logger definitions                                                                                           -->
  <!--                                                                                                              -->
  <!-- Attributes:                                                                                                  -->
  <!--                                                                                                              -->
  <!-- name     required  Unique name used to identify the logger. Will also be used as the filename's              -->
  <!--                    root of not 'file' attribute is specified.                                                -->
  <!--                                                                                                              -->
  <!-- level    required  Level of the logging (Verbose, Debug, Warning, Error )                                    -->
  <!--                                                                                                              -->
  <!-- default  required  Flag indicating the logger is the default. This allows for backward compatibility when    -->
  <!--                    the CORE libraries are used since they log only to the default. Only one logger should    -->
  <!--                    be marked as default. Igf more then one is then the last one in the list will be the      -->
  <!--                    default.                                                                                  -->
  <!--                                                                                                              -->
  <!-- file     optional  If specified identifies the file and path the logger is to use. If not specified then      -->
  <!--                    the logger will use the application data directory for the OS it is running on and        -->
  <!--                    append Viatronix\Logs\<name>.ext to it.                                                   -->
  <!--                                                                                                              -->
  <!-- ============================================================================================================ -->
  <loggers>
    <!-- server="atlas" port="2000" -->
    <logger name="ServiceManager" level="Verbose" format="Text" default="true"/>
  </loggers>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
</configuration>
