<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="resourceProviders" type="Viatronix.Enterprise.Configuration.ResourceProviderSection, v3dent"/>
    <section name="fileSystem" type="Viatronix.Enterprise.Configuration.FileSystemSection, v3dent"/>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
    <section name="servers" type="Viatronix.Enterprise.Configuration.ServersSection, v3dent"/>
  </configSections>

  <!-- ============================================================================================================ -->
  <!-- Logger definitions                                                                                           -->
  <!--                                                                                                              -->
  <!-- Attributes:                                                                                                  -->
  <!--                                                                                                              -->
  <!-- name     required  Unique name used to identify the logger. Will also be used as the filename's              -->
  <!--                    root of not 'file' attribute is specified.                                                -->
  <!--                                                                                                              -->
  <!-- level    required  Level of the logging                                                                      -->
  <!--            Verbose, Highest                                                                                  -->
  <!--            Debug                                                                                             -->
  <!--            Timing                                                                                            -->
  <!--            Information                                                                                       -->
  <!--            Warning                                                                                           -->
  <!--            Error, Exception                                                                                  -->
  <!--            Critical                                                                                          -->
  <!-- format   Format of the message eith Xml or Text  (Default is xml)                                            -->
  <!--                                                                                                              -->
  <!-- default  required  Flag indicating the logger is the default. This allows for backward compatibility when    -->
  <!--                    the CORE libraries are used since they log only to the default. Only one logger should    -->
  <!--                    be marked as default. If more then one is then the last one in the list will be the       -->
  <!--                    default.                                                                                  -->
  <!--                                                                                                              -->
  <!-- file     optional  If specified identifies the file and path the logger is to use. If not specified then     -->
  <!--                    the logger will use the application data directory for the OS it is running on and        -->
  <!--                    append Viatronix\Logs\<name>.ext to it.                                                   -->
  <!--                                                                                                              -->
  <!-- ============================================================================================================ -->
  <loggers>
    <logger name="v3dentsvc" level="Verbose" default="true"/>
    <logger name="v3dentsvc_trans" level="Verbose" default="false"/>
    <logger name="WorkQueue" level="Verbose" default="false"/>
    <logger name="AgentServer" level="Verbose" default="false"/>

  </loggers>
  
  <!-- ================================================================================================================== -->
  <!-- Section: appSettings                                                                                               -->
  <!--                                                                                                                    -->
  <!-- Defines/Lists settings used in the Enterprise Service                                                              -->
  <!--                                                                                                                    -->
  <!--    delay         Sets the time in milliseconds that the service is delayed before starting. This is needed so that -->
  <!--                  SQL server has time to start the database. the SCM will indicate that the SQL server instance is  -->
  <!--                  up but the database may not be available before we attempt to connect.                            -->
  <!--                                                                                                                    -->
  <!--    encrypt       Flag set to true is the messages passed back and forth from the client to the server are          -->
  <!--                  encrypted. False would mean that the data is in clear text. This is over and above the HTTPS/SSL  -->
  <!--                  encryption.                                                                                       -->
  <!--                                                                                                                    -->
  <!--    authorize     This flag was designed to indicate that the system needs to authorize the user, but is not        -->
  <!--                  implemented. Due to that fact that all messages coming in require a Context/Auth-Token makes this -->
  <!--                   feature unneeded                                                                                 -->
  <!--                                                                                                                    -->
  <!--    translog      Flag to indicate that we are keeping a transaction log                                            -->
  <!--                                                                                                                    -->
  <!--    vlaidateSchema      Flag used to determine if the schema of the xml received is validated.                      -->
  <!--                                                                                                                    -->
  <!--    connectionStrings  This entry points to the connection string config file.                                      -->
  <!--                                                                                                                    -->
  <!-- ================================================================================================================== -->
  <appSettings>
    <add key="validateSchema" value="true"/>
    <add key="schemas" value="C:\ProgramData\Viatronix\Config\Schemas"/>
    <add key="delay" value="10000"/>
    <add key="encrypt" value="false"/>
    <add key="authorize" value="false"/>
    <add key="translog" value="true"/>
    <add key="connectionStrings" value="C:\ProgramData\Viatronix\Config\connections.xml"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
  <!-- ================================================================================================================== -->
  <!-- Section: servers                                                                                                   -->
  <!--                                                                                                                    -->
  <!-- Define/Lists any internal servers that you want the Enterprise Server/Service to start/stop/monitor                -->
  <!--                                                                                                                    -->
  <!-- ================================================================================================================== -->
  <servers>
    <server name="AgentServer" type="Viatronix.Enterprise.Servers.AgentServer, v3dent">
      <settings pendingEvent="AgentServerPending" logger="AgentServer"/>
    </server>

    <!--<server name="WorkQueue" type="Viatronix.Enterprise.Servers.WorkQueueServer, v3dent" >
      <settings concurrentTasks="2"  pollingTime="3000" pendingEvent="WorkQueuePending"  messagePort="4000" logger="WorkQueue" />
    </server>-->
    <!--<server name="DicomQueue" type="Viatronix.Enterprise.Servers.DicomQueueServer, v3dent" >
      <settings pollingTime="3000" pendingEvent="DicomQueuePending"  logger="DicomQueue" />
    </server>-->
    <!--<server name="DicomServer" type="Viatronix.Enterprise.Servers.DicomServer, v3dent" >
      <setting aetitle="V3D" port="104" validateCalledAETitle="true" logSource="V3D" auto="false"  >
        --><!--
          List of accepted AE Titles. If any aetitles are defined then only the values in the  list 
          are accepted all others will be denied associations.
         --><!--
        <acceptedAETitles>
        </acceptedAETitles>
        --><!-- 
          Specifiy the abstract syntaxes used for this server. This refer to accepted modalities.
          The first one 'Verification' must be present to allow for the C-ECHO command.
        --><!--
        <abstractSyntaxes>
          --><!--Verification          --><!--
          <uid>1.2.840.10008.1.1</uid>
          --><!--CT Image Storage      --><!--
          <uid>1.2.840.10008.5.1.4.1.1.2</uid>
          --><!--MR Image Storage      --><!--
          <uid>1.2.840.10008.5.1.4.1.1.4</uid>
          --><!--SC Image Storage      --><!--
          <uid>1.2.840.10008.5.1.4.1.1.7</uid>
          --><!-- UID_FINDPatientRootQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.1.1</uid>
          --><!-- UID_MOVEPatientRootQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.1.2</uid>
          --><!-- UID_GETPatientRootQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.1.3</uid>
          --><!-- UID_FINDStudyRootQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.2.1</uid>
          --><!-- UID_MOVEStudyRootQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.2.2</uid>
          --><!-- UID_GETStudyRootQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.2.3</uid>
          --><!-- UID_FINDPatientStudyOnlyQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.3.1</uid>
          --><!-- UID_MOVEPatientStudyOnlyQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.3.2</uid>
          --><!-- UID_GETPatientStudyOnlyQueryRetrieveInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.1.2.3.3</uid>
          --><!-- UID_FINDModalityWorklistInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.31</uid>
          --><!-- UID_FINDGeneralPurposeWorklistInformationModel --><!--
          <uid>1.2.840.10008.5.1.4.32.1</uid>
          --><!-- UID_EnhancedCTImageStorage --><!--
          <uid>1.2.840.10008.5.1.4.1.1.2.1</uid>
          --><!-- UID_EnhancedMRImageStorage --><!--
          <uid>1.2.840.10008.5.1.4.1.1.4.1</uid>
        </abstractSyntaxes>
        --><!-- 
          Specify the transfer syntaxes allowed for this server. Any others will be rejected.  
        --><!--
        <transferSyntaxes>
          --><!-- Littel Endian Implicit Transfer Syntax   --><!--
          <uid>1.2.840.10008.1.2</uid>
          --><!-- Little Endian Explicit Transfer Syntax   --><!--
          <uid>1.2.840.10008.1.2.1</uid>
        </transferSyntaxes>
      </setting>
    </server>-->
    
  </servers>

  <!-- ================================================================================================================== -->
  <!-- Section: ServiceModel                                                                                              -->
  <!--                                                                                                                    -->
  <!-- Defines the services, behaviors and bindings used for this service model                                           -->
  <!--                                                                                                                    -->
  <!-- services                                                                                                           -->
  <!--     Viatronix.Enterprise.Rest.IService         Defines the general rest service implementation                     -->
  <!--     Viatronix.Enterprise.Rest.IFileServer      Defines the file service implementation                             -->
  <!--                                                                                                                    -->
  <!-- behavoirs                                                                                                          -->
  <!--     v3drest                                    Both services share the same behvoirs                               -->
  <!--                                                                                                                    -->
  <!-- bindings                                                                                                           -->
  <!--                                                                                                                    -->
  <!--     httpsBinding                               Defines a certificate based binding to the service                  -->
  <!--                                                                                                                    -->
  <!--     httpBinding                                Defines the general http non-encrypted binding                      -->
  <!--                                                                                                                    -->
  <!--     streamBinding                              Defines a streaming binding used for the File Service               -->
  <!--                                                                                                                    -->
  <!--                                                                                                                    -->
  <!-- ================================================================================================================== -->
  <system.serviceModel>
   
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
 
    
     <services>
      <service name="Viatronix.Services.RestService">
        
        <endpoint address="http://localhost:8000/Enterprise/" binding="webHttpBinding" contract="Viatronix.Services.IRestService" behaviorConfiguration="v3drest" bindingConfiguration="httpBinding"/>
        
        <endpoint address="http://localhost:8000/FileServer" binding="webHttpBinding" contract="Viatronix.Services.IFileRestService" behaviorConfiguration="v3drest" bindingConfiguration="httpStreamBinding"/>
      </service>
    </services>

 
    <behaviors>        
      <endpointBehaviors>
        <behavior name="v3drest">
          <CorsSupport/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>   
    </behaviors>
    
    <extensions>
      <behaviorExtensions>
        <add name="CorsSupport" type="Viatronix.WebHttpCors.CorsSupportBehaviorElement, WebHttpCors"/>
      </behaviorExtensions>
    </extensions>


    <bindings>  
      <webHttpBinding>
      
        
        <binding name="httpsBinding" transferMode="Buffered">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        
        <binding name="httpBinding" transferMode="Buffered">
          <security mode="None"/>
        </binding> 
        
        <binding name="httpStreamBinding" transferMode="Streamed" maxBufferPoolSize="25000000000" maxBufferSize="100000000" maxReceivedMessageSize="2000000000" openTimeout="05:25:00" closeTimeout="00:25:00" sendTimeout="00:25:00" receiveTimeout="0:25:00">
          <security mode="None"/>
        </binding>
        
            <binding name="httpsStreamBinding" transferMode="Streamed" maxBufferPoolSize="25000000000" maxBufferSize="100000000" maxReceivedMessageSize="2000000000" openTimeout="05:25:00" closeTimeout="00:25:00" sendTimeout="00:25:00" receiveTimeout="0:25:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Certificate"/>
          </security>
       </binding>

      </webHttpBinding>  
    </bindings>
    
  </system.serviceModel>


  <!-- ================================================================================================================== -->
  <!-- Section: resourceProviders                                                                                         -->
  <!--                                                                                                                    -->
  <!-- Defines the resource and provider maps so that the enterprise server can service the requests for any of the       -->
  <!-- resources listed. If the resource is not listed a NotSupportedException will be relayed back to the client.        -->
  <!--                                                                                                                    -->
  <!--                                                                                                                    -->
  <!-- Resource Providers                                                                                                 -->
  <!--                                                                                                                    -->
  <!-- SecurityResourceProvider             Allows access to the security subsystem for any security resource requests    -->
  <!-- FileSystemResourceProvider           Accesses the file system                                                      -->
  <!-- SystemResourceProvider               Accesses the System ( Can be the database, filesystem or Win32 )              -->
  <!-- DatabaseResourceProvider             Accesses the Database                                                         -->
  <!-- ServerResourceeProvider              Accesses the any servers runnning internally through the Enterprise Service   -->
  <!-- ================================================================================================================== -->

  <resourceProviders>
    <!-- Security Resources -->
    <provider resource="user" type="Viatronix.Enterprise.Providers.SecurityResourceProvider, v3dent"/>
    <provider resource="role" type="Viatronix.Enterprise.Providers.SecurityResourceProvider, v3dent"/>
    <provider resource="right" type="Viatronix.Enterprise.Providers.SecurityResourceProvider, v3dent"/>
    <provider resource="userprofile" type="Viatronix.Enterprise.Providers.SecurityResourceProvider, v3dent"/>
    <provider resource="context" type="Viatronix.Enterprise.Providers.SecurityResourceProvider, v3dent"/>
    <provider resource="authenticationtype" type="Viatronix.Enterprise.Providers.SecurityResourceProvider, v3dent"/>

    <!-- FileSystem Resources -->
    <provider resource="preview" type="Viatronix.Enterprise.Providers.FileSystemResourceProvider, v3dent"/>
    <provider resource="filelist" type="Viatronix.Enterprise.Providers.FileSystemResourceProvider, v3dent"/>
    <!-- System Resources -->
    <provider resource="domain" type="Viatronix.Enterprise.Providers.SystemResourceProvider, v3dent"/>
    <provider resource="date" type="Viatronix.Enterprise.Providers.SystemResourceProvider, v3dent"/>
    <!-- Processing Resources -->
    <provider resource="job" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="message" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="template" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <!-- Database Resources  -->
    <provider resource="site" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="config" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="study" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="series" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="dicomheader" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="reference" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="dependent" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="store" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="seriespath" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="modality" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="group" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="product" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="systemsetting" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="dicomserver" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="receiver" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="pacsjob" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="lock" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="session" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="launchlist" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="transferlist" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="systemconfig" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="dicomhost" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="application" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="studygroup" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="systemsetting" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>
    <provider resource="template" type="Viatronix.Enterprise.Providers.DatabaseResourceProvider, v3dent"/>

    <!-- Service Resources -->
    <provider resource="service" type="Viatronix.Enterprise.Providers.ServiceResourceProvider, v3dent"/>
    <provider resource="database" type="Viatronix.Enterprise.Providers.ServiceResourceProvider, v3dent"/>
    <!-- Server Resources -->
    <provider resource="server" type="Viatronix.Enterprise.Providers.ServerResourceProvider, v3dent"/>
    <provider resource="fileserver" type="Viatronix.Enterprise.Providers.FileServerProvider, v3dfsrprv"/>
    <!-- Viewer Resources -->
    <provider resource="viewer" type="Viatronix.Enterprise.Providers.ViewerResourceProvider, v3dent"/>

  </resourceProviders>
  
  <fileSystem>
    <file name="host" type="xml" loc="C:\ProgramData\Viatronix\Config\DICOM\hosts.xml"/>
    <file name="preview" type="bmp" loc=""/>
    <file name="seriesfiles" type="" loc=""/>
    <file name="filelist" type="" loc=""/>
  </fileSystem>
  <!--<connectionStrings>
    <add name="System" providerName="System.Data.SqlClient"	connectionString="user id=v3duser;password=qwe321$;server=(local)\v3dtest;database=System" />
    <add name="Storage" providerName="System.Data.SqlClient"	connectionString="user id=v3duser;password=qwe321$;server=(local)\v3dtest;database=Storage" />
    <add name="Security" providerName="System.Data.SqlClient"	connectionString="user id=v3dsa;password=jkl789@;server=(local)\v3dtest;database=Security" />
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <configProtectedData>
    <providers>
      <add name="RsaProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="MyAppContainer" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
