<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
    <section name="server" type="Viatronix.Services.ServerSectionHandler, WorkQueueService"/>
  </configSections>
  
  
  <!-- =========================================================================  -->
  <!-- Application settings                                                       -->
  <!--                                                                            -->
  <!-- delay    Amount of time to delay the start of the service in milliseconds -->
   <!-- =========================================================================  -->
  <appSettings>
    <add key="delay" value="1000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="connectionStrings" value="C:\ProgramData\Viatronix\Config\connections.config"/>
  </appSettings>


  <!-- ============================================================================================================ -->
  <!-- Logger definitions                                                                                           -->
  <!--                                                                                                              -->
  <!-- Attributes:                                                                                                  -->
  <!--                                                                                                              -->
  <!-- name     required  Unique name used to identify the logger. Will also be used as the filename's              -->
  <!--                    root of not 'file' attribute is specified.                                                -->
  <!--                                                                                                              -->
  <!-- level    required  Level of the logging (Verbose, Debug, Warning, Error )                                    -->
  <!--                                                                                                              -->
  <!-- default  required  Flag indicating the logger is the default. This allows for backward compatibility when    -->
  <!--                    the CORE libraries are used since they log only to the default. Only one logger should    -->
  <!--                    be marked as default. If more then one is then the last one in the list will be the      -->
  <!--                    default.                                                                                  -->
  <!--                                                                                                              -->
  <!-- file     optional  If specified identifies the file and path the logger is to use. If not specified then      -->
  <!--                    the logger will use the application data directory for the OS it is running on and        -->
  <!--                    append Viatronix\Logs\<name>.ext to it.                                                   -->
  <!--                                                                                                              -->
  <!-- ============================================================================================================ -->
  <loggers>
    <logger name="WorkQueueService" level="Information" default="true"/>
  </loggers>

  <!-- ================================================================================== -->
  <!-- Work Queue Server configuration                                                    -->
  <!-- concurrentTasks      Number of concurrent tasks allowed                            -->
  <!-- pendingEvent         Name of event used to indicate that there are pending jobs    -->
  <!-- pollingInterval      Time in MS for polling the event or database                  -->
  <!-- ================================================================================== -->
  <server concurrentTasks="2" pendingJobsEventName="WorkQueuePendingJobs" pollingInterval="0" messagePort="4000" taskAbortEventName="SignalTaskAborted"/>
 
  
  
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
