<?xml version="1.0"?>
<configuration>
 
  <!-- custom section handlers -->
  <configSections>
    <section name="systems" type="Viatronix.Utilities.Database.SystemsSectionHandler, CreateDatabases"/>
    <section name="settings" type="Viatronix.Utilities.Database.SettingsSectionHandler, CreateDatabases"/>
  </configSections>

  <systems>
    
    <system id="Global" name="Global" selectable="false">
      <databases>
        <database name="master" selectable="false" desc="SQL Server Master Database">
          <commands>
            <command file="Master_Create_Logins.sql" database="master" desc="Create V3D logins"/>
            <command file="Master_Create.sql" database="master" desc="Create master datasbase stored procedures"/>
            <command file="Master_Create_Assemblies.sql" desc="Create CLR Assemblies/Procedures"/>
            <command file="Master_Constants.sql" database="master" desc="Insert Constants"/>
          </commands>
        </database>

      </databases>
 

    </system>

    <system id="Licensing" name="V3D Licensing Subsystem">

      <databases>
 
        <database name="Licensing" selectable="true" desc="Contains Licesning for the V3D System">
          <commands>
            <command file="Licensing_Create_Database.sql" database="master" desc="Create Database"/>
            <command file="Licensing_Create.sql" desc="Create Tables/Procedures"/>
            <command file="Licensing_Create_Assemblies.sql" desc="Create CLR Assemblies/Procedures"/>
            <command file="Licensing_Constants.sql" desc="Insert Constants"/>
            <command file="Register.bat" desc="Register V3D Licensing System"/>
          </commands>
        </database>
      </databases>
      
    </system>

    <system id="Core" name="V3D Enterprise Subsystem">
      
      <databases>

        <database name="System" selectable="true" desc="Contains System specific informtaion used by multiple databases">
          <commands>
            <command file="System_Create_Database.sql" database="master" desc="Create Database"/>
            <command file="System_Create.sql" desc="Create Tables/Procedures"/>
            <command file="System_Create_Assemblies.sql" desc="Create CLR Assemblies/Procedures"/>
            <command file="System_Constants.sql" desc="Insert Constants"/>
            <command file="Register.bat" desc="Register V3D Core System"/>
          </commands>
        </database>

        <database name="Security" selectable="true" desc="Contains user management and administration">
          <commands>
            <command file="Security_Create_Database.sql" database="master" desc="Create Database"/>
            <command file="Security_Create.sql" desc="Create Tables/Procedures"/>
            <command file="Security_Create_Assemblies.sql" desc="Create CLR Assemblies/Procedures"/>
            <command file="Security_Constants.sql" desc="Insert Constants" opt="true"/>
          </commands>
        </database>

 

        <database name="Auditing" selectable="true" desc="Contains Audting information">
          <commands>
            <command file="Auditing_Create_Database.sql" database="master" desc="Create Database"/>
            <command file="Auditing_Create.sql" desc="Create Tables/Procedures"/>
            <command file="Auditing_Create_Assemblies.sql" desc="Create CLR Assemblies/Procedures" opt="true"/>
            <command file="Auditing_Constants.sql" desc="Insert Constants" opt="true"/>
          </commands>
        </database>

        <database name="Storage" selectable="true" desc="Contains Storage specific informtaion used by multiple databases">
          <commands>
            <command file="Storage_Create_Database.sql" database="master" desc="Create Database"/>
            <command file="Storage_Create.sql" desc="Create Tables/Procedures"/>
            <command file="Storage_Create_Assemblies.sql" desc="Create CLR Assemblies/Procedures"/>
            <command file="Storage_Constants.sql" desc="Insert Constants" opt="true"/>
          </commands>
        </database>

      </databases>

    </system>
  
  </systems>
  
  <settings>
    <setting id="instance" value="V3DTEST"/>
    <setting id="logFilePath" value="C:\ProgramData\Viatronix\Logs\CreateDatabase.log"/>
  </settings>


 
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
