<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="client" type="Viatronix.Utilities.Dicom.ClientSectionHandler, SendImage"/>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, vxloglib"/>
  </configSections>


  <loggers>
    <logger name="query" level="Verbose" default="true"/>
  </loggers>

  <appSettings>
    <add key="log" value="C:\ProgramData\Viatronix\Logs\dicom.log"/>
    <add key="wait" value="true"/>
  </appSettings>

  <client aetitle="DICOM_SCU">

    <server name="test" server="kodak-pacs" aetitle="kodak-pacsFIR" port="2104" services="STORE"/>

    <!-- 
      Specify the abstract syntaxes used for this server. This refer to accepted modalities.
      The first one 'Verification' must be present to allow for the C-ECHO command.
      -->
    <abstractSyntaxes>

    </abstractSyntaxes>

    <!-- 
      Specify the transfer syntaxes allowed for this server. Any others will be rejected.  
      -->
    <transferSyntaxes>


    </transferSyntaxes>

  </client>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
