<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, vxloglib" />
		<section name="sphericityValues" type="Viatronix.Colon.Medicsight.CAD.Validation.ShpericitySectionHandler, Viatronix.Colon.Medicsight.CAD.Validation" />
	</configSections>

  <appSettings>
    <add key="threshold" value="0" /> <!-- This defines the threshold.  If the supplied value is greater than the theoretical value the threshold will be set to the supplied value.  0 will use the theoretical value. -->
  </appSettings>
  
  <loggers>
    <logger name="CADValidation" file="C:\ProgramData\Viatronix\Logs\Viatronix.Colon.Medicsight.CAD.Validation" level="5" default="true" />
  </loggers>
  
  <!-- Indicates what sphericity values are of interest. -->
  <sphericityValues>
    <sphereicityValue value="0"/>
    <sphereicityValue value="50"/>
    <sphereicityValue value="75"/>
    <sphereicityValue value="100"/>
	</sphericityValues>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
