<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="providers" type="Viatronix.Enterprise.Configuration.ProviderSection, v3dent"/>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
    <section name="theme" type="Viatronix.Enterprise.Configuration.XmlConfigSectionHandler, v3dent"/>
  </configSections>
  
  <appSettings>
    <add key="LogPath" value="$(LogDirectory)\Importer"/>
    <add key="connectionStrings" value="$(APPDATA)\Viatronix\Config\connections.config"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  <!-- Providers -->
  <providers>
    <provider name="security" type="Viatronix.Enterprise.SDK.Providers.DatabaseSecurityProvider, v3dent" ver="1.0"/>
    <provider name="data" type="Viatronix.Enterprise.SDK.Providers.DatabaseDataProvider, v3dent" ver="1.0"/>
  </providers>

  <loggers>
    <logger name="Importer" level="Verbose" default="true"/>
  </loggers>
  
  <theme>
    <color>0,46,186</color>
    <!--backColor>0,255,255</backColor-->
    <!--font>Times New Roman</font>
    <fontSize>8</fontSize-->
  </theme>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
</configuration>
