<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog" />
  </configSections>
  
  <loggers>
    <logger name="ImapiTransfer" level="Verbose" format="Text" default="true" />
  </loggers>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>