<?xml version="1.0"?>
<configuration>
  
  <!-- Custom section handlers -->
  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
    <section name="frame" type="Viatronix.Enterprise.Configuration.XmlConfigSectionHandler, v3dent"/>
    <section name="dynamicColumns" type="Viatronix.Enterprise.Configuration.XmlConfigSectionHandler, v3dent"/>
    <section name="sessionViewers" type="Viatronix.Console.SeriesDetailsPanel, Console"/>
    <section name="studyGroups" type="Viatronix.Enterprise.Configuration.XmlConfigSectionHandler, v3dent"/>
    <section name="aboutInfo" type="Viatronix.UI.AboutConfigSectionHandler, v3dui"/>
    <section name="transferItems" type="Viatronix.Enterprise.Configuration.XmlConfigSectionHandler, v3dent"/>
    <section name="theme" type="Viatronix.Enterprise.Configuration.XmlConfigSectionHandler, v3dent"/>
    <section name="launchRules" type="Viatronix.Console.LaunchRuleConfigSectionHandler, v3dconcore"/>
    <section name="reportMacros" type="Viatronix.Console.RemovableMediaTransferProviderForPatient, Console"/>
    <section name="groupSettings" type="Viatronix.Dicom.UI.GroupSettingsSectionHandler, v3ddcmui"/>
    <section name="simpleModeRules" type="Viatronix.Console.SimpleModeRulesConfigSectionHandler, v3dconcore"/>
    <section name="providers" type="Viatronix.Enterprise.Configuration.ProviderSection, v3dent"/>
  </configSections>


  <!-- 
  ============================================================================================================================================================  
   Section:     Providers                                                                                                                                         
   Description: List all the providers used within the application. There must be al least on security provider.                                                  
                                                                                                                                                                  
   Provider Xml Attribute Defintion                                                                                                                               
                                                                                                                                                                  
   Attribute  Required    Dscription                                                                                                                              
   name         Y         Name of the provider, must be unique.                                                                                                   
   type         Y         Fully Qualified Type name. This is the type that will be created by the ProviderFactory                                                 
   url          N         Used to identify a connection point for the provider. May be left off if there is not connection point such as the Database providers   
   aetitle      N         AE Title to be used for the provoder (PACS Providers)                                                                                   
   renewal      N         Renewal time in minutes. If this attribute is present and has a value > 0 then a renewal provider will be created internally in the     
                          provider if the provider is a security provider. If the entry is absent or 0 then the renewal provider implemented in the security      
                          provider will be disabled and it will be the applications responsibility to perform the context renewal.                                
   security     N         Security provider name that the provider links to. This is not required as the first defined security provider will be used. If         
                          you want to link providers to another security provider defined in the list you may use this attribute to do so.                        
   ver          Y         Version of the xml (1.0)                                                                                                                                                                                                                                                                   
                                                                                                                                                                  
                                                                                                                                                                  
  ============================================================================================================================================================ 
  -->
  <providers>

    <!-- REST PROVIDERS -->
   
    <provider name="security" type="Viatronix.Enterprise.SDK.Providers.RestSecurityProvider, v3dent" url="http://apollo:8000/Enterprise" ver="1.0"/>
    <provider name="data" type="Viatronix.Enterprise.SDK.Providers.RestDataProvider, v3dent" url="http://apollo:8000/Enterprise" ver="1.0"/>
    <provider name="pacs" type="Viatronix.Enterprise.SDK.Providers.DirectPacsProvider, v3dent" aetitle="V3D" ver="1.0"/>
    

    <!-- DATABASE PROVIDERS/DIRECT PACS PROVIDER -->
    <!--
    <provider name="security" type="Viatronix.Enterprise.SDK.Providers.DatabaseSecurityProvider, v3dent" ver="1.0"/>
    <provider name="data" type="Viatronix.Enterprise.SDK.Providers.DatabaseDataProvider, v3dent"  ver="1.0"/>
    <provider name="pacs" type="Viatronix.Enterprise.SDK.Providers.DirectPacsProvider, v3dent" aetitle="V3D"  ver="1.0"/>
     -->
    
  </providers>


  <!-- ============================================================================================================ -->
  <!-- Logger definitions                                                                                           -->
  <!--                                                                                                              -->
  <!-- Attributes:                                                                                                  -->
  <!--                                                                                                              -->
  <!-- name     required  Unique name used to identify the logger. Will also be used as the filename's              -->
  <!--                    root of not 'file' attribute is specified.                                                -->
  <!--                                                                                                              -->
  <!-- level    required  Level of the logging (Verbose, Debug, Warning, Error )                                    -->
  <!--                                                                                                              -->
  <!-- default  required  Flag indicating the logger is the default. This allows for backward compatibility when    -->
  <!--                    the CORE libraries are used since they log only to the default. Only one logger should    -->
  <!--                    be marked as default. Igf more then one is then the last one in the list will be the      -->
  <!--                    default.                                                                                  -->
  <!--                                                                                                              -->
  <!-- file     optional  If specified identifies the file and path the logger is to use. If not specified then      -->
  <!--                    the logger will use the application data directory for the OS it is running on and        -->
  <!--                    append Viatronix\Logs\<name>.ext to it.                                                   -->
  <!--                                                                                                              -->
  <!-- ============================================================================================================ -->
  <loggers>
    <!-- server="atlas" port="2000" -->
    <logger name="Console" level="Verbose" format="Text" default="true"/>
  </loggers>

  <theme>
    <color>0,46,186</color>
    <!--backColor>0,255,255</backColor-->
    <!--font>Times New Roman</font>
    <fontSize>8</fontSize-->
  </theme>
  
   <!-- ======================================================================================================================================================= -->
   <!--                                                                                                                                                         -->
   <!--    Application Settings                                                                                                                                 -->
   <!--                                                                                                                                                         -->
   <!--     studyStateIndicator         animated      Uses animated icons at the study level to indciate state                                                  -->
   <!--                                 static        Uses non-animated icons as the study level to indicate state                                              -->
   <!--                                 none          No state is displayed (Like 3.5)                                                                          -->
   <!--                                                                                                                                                         -->
   <!--     DicomLog                    Dicom log file used to log dicom transactions generated through Console.                                                -->
   <!--                                                                                                                                                         -->
   <!--     StoreModality               Sets the modality to store images to a PACS. The default is blank indicating that the series                            -->
   <!--                                 modality is to be used. Otherwise we can specify the modality such as SC (Secondary Capture).                           -->
   <!--                                                                                                                                                         -->
   <!--     SimpleMode                  true      Displays a simpiler view of the datasets (MAY BE REMOVED)                                                     -->
   <!--                                 false     Regualar display mode                                                                                         -->
   <!--                                                                                                                                                         -->
   <!--     ProductId                   V3D Console                                                                                                             -->
   <!--                                                                                                                                                         -->
   <!--     RenewalInterval             Value in minutes that the system attempts to renew a license (must be greater then 2).                                  -->
   <!--                                                                                                                                                         -->
   <!--     IdleTimeout                 Time in minutes befire the application times out and requires a user to relogin.                                        -->
   <!--                                                                                                                                                         -->
   <!--     RootDirectory               ???                                                                                                                     -->
   <!--                                                                                                                                                         -->
   <!--     LaunchRules                 Location of the launch rules                                                                                            -->
   <!--                                                                                                                                                         -->
   <!--     AETitle                     AE Title of the console (Moved to setting in PACS Provider see providers above). This entry is still used in the        -->
   <!--                                 PACS transfer providers.                                                                                                -->
   <!--                                                                                                                                                         -->
   <!--     AllowedProcessSeriesTypes   List of series types processing is alloed to be started from (Used for reprocessing).                                   -->
   <!--                                                                                                                                                         -->
   <!--     PacsQueueUrl                 URL of the PACS queue server (Will be removed in 3.6)                                                                  -->
   <!--                                                                                                                                                         -->
   <!--     HelpFile                    Name of the Console's help file                                                                                         -->
   <!--                                                                                                                                                         -->
   <!--     DiskMonitorInterval         The refresh time in minutes for updating the disk monitor pane                                                          -->
   <!--                                                                                                                                                         -->
   <!--     DiskMonitorDisplayDriveSystem   true    Displays the drive in the usage bar                                                                         -->
   <!--                                     false   Does not display the drive                                                                                  -->
   <!--                                                                                                                                                         -->
   <!--                                                                                                                                                         -->
   <!--     Importer                     Location of the importer executable used to import data into the Console.                                              -->
   <!--                                                                                                                                                         -->
   <!--     ImportArgs                   Encrypted string of arguments used when the importer is launched.                                                      -->
   <!--                                                                                                                                                         -->
   <!--                                                                                                                                                         -->
   <!--      VCViewerPath                Location of the VC viewer executable. Used in the VCSessionProvider when the details are dispayed                      -->
   <!--                                                                                                                                                         -->
   <!--      ShowDicomSave                true      The save dicom is menu selection is available on the Pendind Jobs context menu.                             -->
   <!--                                   false     Cannot save dicom.                                                                                          -->
   <!--                                                                                                                                                         -->
   <!--                                                                                                                                                         -->
   <!--      SupportsEncapsulatedPDF      true      Encapsulated PDF is supported in DICOM                                                                      -->
   <!--                                   false     Encapsulated PDF not supported in DICOM                                                                     -->
   <!--                                                                                                                                                         -->
   <!--      FileSystemTransferDefaultPath   Temporart location used during transfers                                                                           -->
   <!--                                                                                                                                                         -->
   <!--      connectionStrings            Location of the connection database connect strings file.                                                             -->
   <!-- ======================================================================================================================================================= -->

   <appSettings>
    <add key="studyStateIndicator" value="static"/>
    <add key="DicomLog" value="C:\ProgramData\Viatronix\Logs\console_dicom.log"/>
    <add key="StoreModality" value=""/>
    <add key="SimpleMode" value="false"/>
    <add key="ProductId" value="V3D Console"/>
    <add key="RenewInterval" value="30"/> <!-- Value must be greater than 2. -->
    <add key="IdleTimeout" value="300"/>
    <add key="RootDirectory" value="C:\testData"/>
    <add key="IConsolePort" value="1234"/>
    <add key="LaunchRules" value="config\LaunchRules.xml"/>
    <add key="IdleInterval" value="30"/>
    <add key="AETitle" value="V3D"/>
    <add key="AllowedProcessSeriesTypes" value="Dicom"/>
    <add key="PacsQueueUrl" value="tcp://localhost:9100/PacsQueueServer.rem"/>
    <add key="HelpFile" value="V3D-Console.chm"/>
    <add key="DiskMonitorInterval" value="10"/>
    <add key="DiskMonitorDisplayDriveSystem" value="true"/>
    <add key="Importer" value="$(UtilitiesDirectory)\Importing\Importer.exe"/>
    <add key="ImporterArgs" value="zhSNRP892d26tkKSFUrPt/t9HyZTGk8eOLgfq1o8ojQ="/>
    <add key="VCViewerPath" value="$(ViewersDirectory)\VC\V3DViewerColon.exe"/>
    <add key="ShowDicomSave" value="True"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="SupportsEncapsulatedPDF" value="false"/>
    <add key="FileSystemTransferDefaultPath" value="D:\VXFILETRANSFER\"/>
    <add key="connectionStrings" value="$(APPDATA)\Viatronix\Config\connections.config"/>
  </appSettings>
  
  <groupSettings>
    <group id="0000" desc="Command Group" color="Crimson"/>
    <group id="0002" desc="Meta File Elements" color="Black"/>
    <group id="0004" desc="Directory Structure Information" color="Black"/>
    <group id="0008" desc="General Information" color="Blue"/>
    <group id="0010" desc="Patient Information" color="DarkOrange"/>
    <group id="0018" desc="Acquisition Information" color="DarkRed"/>
    <group id="0020" desc="Relationship Information" color="MediumPurple"/>
    <group id="0028" desc="Image Presentation Information" color="DarkGreen"/>
    <group id="0032" desc="Study Information" color="DarkGoldenrod"/>
    <group id="0038" desc="Admission Information" color="SlateGray"/>
    <group id="0040" desc="Schedule Information" color="DarkMagenta"/>
    <group id="0050" desc="Device Group" color="DeepSkyBlue"/>
    <group id="0060" desc="Historgram Group" color="RosyBrown"/>
    <group id="5400" desc="Waveform Data Group" color="DarkTurquoise"/>
    <group id="003A" desc="Waveform Group" color="Peru"/>
    <group id="2000" desc="Film Session Group" color="Honeydew "/>
    <group id="2010" desc="Film Box Group" color="SeaGreen"/>
    <group id="2020" desc="Image Box Group" color="SkyBlue"/>
    <group id="2030" desc="Annotation Box Group" color="Goldenrod"/>
    <group id="2040" desc="Image Overlay Box Group" color="Green"/>
    <group id="2100" desc="Print Job Group" color="Gainsboro"/>
    <group id="2110" desc="Printer Status Group" color="DarkViolet"/>
    <group id="4008" desc="Interpretation Group" color="DarkKhaki"/>
    <group id="50XX" desc="Curve Group" color="DarkCyan"/>
    <group id="60XX" desc="Overlay Group" color="DarkOliveGreen"/>
    <group id="7FE0" desc="Pixel Group" color="PaleGoldenrod "/>
  </groupSettings>
  
  <simpleModeRules>
    <rule app="" preprocessedAs="" seriesType="Session" viewable="true"/>
    <rule app="" preprocessedAs="" seriesType="Dicom" viewable="false"/>
    <rule app="" preprocessedAs="" seriesType="Cad" viewable="false"/>
    <rule app="" preprocessedAs="" seriesType="Preprocessed" viewable="true"/>
    <rule app="" preprocessedAs="" seriesType="Volume" viewable="false" references="Preprocessed"/>
  </simpleModeRules>
  
  
  <!-- About Dialog Information -->
  <aboutInfo version="1.0.0.0">
    <legal>The V3D viewer uses organ-specific modules to analyze organs. The individual modules are to be used only to supply additional information to analyze the intended organ. For each, there is no other intended use.</legal>
    <copyright>Copyright © 2001-2012 Viatronix Inc.          All rights reserved. Patents pending.</copyright>
    <link>http://www.viatronix.com</link>
  </aboutInfo>
  
  <!-- Browser Frame -->
  <frame product="V3D Console" default_tab="Browser" version="1.0">
    
    <!-- HotKeys -->
    <hotkeys>
      <hotkey key="F5" typename="Viatronix.Console.HotKeySearch, Console" version="1.0"/>
      <hotkey key="F8" typename="Viatronix.Console.HotKeyTogglePanes, Console" version="1.0"/>
      <hotkey key="F1" typename="Viatronix.Console.HotKeyHelp, Console" version="1.0"/>
    </hotkeys>
    
    <!-- Panes -->
    <panes>
      <pane id="DetailsPane" text="Details" typename="Viatronix.Console.DetailsPane, Console" version="1.0"/>
      <pane id="CDSearchPane" text="Search" typename="Viatronix.Console.CDSearchPane, Console" version="1.0"/>
      <pane id="PACSSearchPane" text="Search" typename="Viatronix.Console.PACSSearchPane, Console" version="1.0"/>
      <pane id="DatabaseSearchPane" text="Search" typename="Viatronix.Console.DatabaseSearchPane, Console" version="1.0"/>
      <pane id="DiskMonitorPane" text="Monitor" typename="Viatronix.Console.DiskMonitorPane, Console" version="1.0"/>
      <!--pane id="LaunchViewerPane" text="Launch" typename="Viatronix.Console.LaunchViewerPane, Console" version="1.0"/-->
      <!--pane id="BinPane" text="Bin" typename="Viatronix.Console.BinPane, Console" version="1.0"/-->
    </panes>
    
    <!-- Tab Definitions -->
    <tabs default_tab="Browser">
      <tab id="Browser" text="Patient Browser" default_view="Database" version="1.0">
        <menus>
          <menu text="File" typename="Viatronix.Console.MenuFile, Console" version="1.0"/>
          <menu text="Help" typename="Viatronix.Console.MenuHelp, Console" version="1.0"/>
        </menus>
        <panes>
          <pane id="DetailsPane" expanded="true" version="1.0"/>
          <!--pane id="LaunchViewerPane" expanded="true"  version="1.0"/-->
        </panes>
        <views>
          
          <!-- Database View -->
          <view id="Default" text="Database" description="" typename="Viatronix.Console.ViewBrowser, Console" version="1.0">
            <additional_data>
              <configuration dataProvider="data" canLaunch="true" canTransfer="True" useAnimation="false" canDelete="True" canImport="true" canShowDicomFolder="true" canShowDicomInfo="true" canProcess="true" displayLaunchPane="false">
                 <transferProviders>
                  <transferProvider name="PACS" description="Transfer to PACS" typename="Viatronix.Console.PACSTransferProvider, Console" allowItemSelection="true" anonymize="false" override="true" seriesCollectionTransfer="true" version="1.0">
                    <transferItems>
                      <item subtype="vc" name="Snapshots" searchInSeries="Session" searchInFolder="" formats=".vrx,.jpg,.png" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider"/>
                      <item subtype="vc" name="Reports" searchInSeries="Session" searchInFolder="" formats=".vrx" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider"/>
                      <!--<item subtype="vc" name="Movies" searchInSeries="Session" searchInFolder="" formats=".avi,.wmv,.png,.jpg" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider" />-->
                      <item subtype="default" name="Snapshots" searchInSeries="Session" searchInFolder="Snapshots" formats=".jpg,.png" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider"/>
                      <!--<item subtype="default" name="Movies" searchInSeries="Session" searchInFolder="Movies" formats=".avi,.wmv,.png" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider" />-->
                      <item subtype="default" name="Reports" searchInSeries="Session" searchInFolder="Report" formats="report.xml" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider"/>
                      <item subtype="default" name="DICOM" searchInSeries="Dicom" searchInFolder="" formats=".dcm" checkState="false" sessiontypename=""/>
                    </transferItems>
                  </transferProvider>
                  <transferProvider name="Patient CD" description="CD which you can provide to patient." typename="Viatronix.Console.RemovableMediaTransferProviderForPatient, Console" allowItemSelection="true" anonymize="false" override="false" seriesCollectionTransfer="true" version="1.0">
                    <transferItems>
                      <item subtype="vc" name="Snapshots" searchInSeries="Session" searchInFolder="" formats=".vrx,.jpg,.png,.jpg" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider"/>
                      <item subtype="vc" name="Reports" searchInSeries="Session" searchInFolder="" formats=".vrx" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider"/>
                      <item subtype="vc" name="Movies" searchInSeries="Session" searchInFolder="" formats=".avi,.wmv,.png,.jpg" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider"/>
                      <item subtype="default" name="Snapshots" searchInSeries="Session" searchInFolder="Snapshots" formats=".jpg,.png" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider"/>
                      <item subtype="default" name="Movies" searchInSeries="Session" searchInFolder="Movies" formats=".avi,.wmv,.png" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider"/>
                      <item subtype="default" name="Reports" searchInSeries="Session" searchInFolder="Report" formats="report.xml" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider"/>
                      <item subtype="default" name="DICOM" searchInSeries="Dicom" searchInFolder="" formats=".dcm" checkState="true" sessiontypename=""/>
                    </transferItems>
                  </transferProvider>
                  <transferProvider name="Archival CD" description="CD archive." typename="Viatronix.Console.RemovableMediaTransferProviderForArchival, Console" allowItemSelection="true" anonymize="true" override="true" seriesCollectionTransfer="true" version="1.0">
                  </transferProvider>
                  <transferProvider name="File System Archival" description="Stores to the File System for Archival." typename="Viatronix.Console.FileSystemTransferProvider, Console" allowItemSelection="false" anonymize="false" override="false" seriesCollectionTransfer="true" version="1.0">
                  </transferProvider>
                </transferProviders>
                <listviews studies="studyColumns" series="seriesColumns"/>
              </configuration>
            </additional_data>
            <panes>
              <pane id="DetailsPane" expanded="true" version="1.0"/>
              <pane id="DatabaseSearchPane" expanded="true" version="1.0"/>
              <pane id="DiskMonitorPane" expanded="true" version="1.0"/>
              <!--pane id="LaunchViewerPane"   expanded="false" version="1.0"/-->
            </panes>
          </view>
          
          
            
          
          <!-- PACS Query View -->
          <view id="PACS" text="PACS" description="" typename="Viatronix.Console.ViewBrowser, Console" version="1.0">
            <additional_data>
              <configuration dataProvider="pacs" canLaunch="false" canTransfer="true" useAnimation="false" canDelete="False" canImport="false" canShowDicomFolder="false" canShowDicomInfo="false" canProcess="false">
                <transferProviders>
                  <transferProvider name="Viatronix Dicom Server" description="Push to Viatronix dicom server" typename="Viatronix.Console.DicomServerTransferProvider, Console" allowItemSelection="false" sssanonymize="false" override="false" asynchronous="false" seriesCollectionTransfer="true" version="1.0">
                    <transferParameters>
                      <transferParameter name="DicomServer0" value="tcp://localhost:8999/DicomServers.rem"/>
                    </transferParameters>
                    <transferItems>
                      <item subtype="default" name="DICOM" searchInSeries="Dicom" searchInFolder="" formats="" checkState="true" sessiontypename=""/>
                    </transferItems>
                  </transferProvider>
                </transferProviders>
                <listviews studies="studyColumns" series="seriesColumns"/>
              </configuration>
            </additional_data>
            <panes>
              <pane id="DetailsPane" expanded="false" version="1.0"/>
              <pane id="PACSSearchPane" expanded="true" version="1.0"/>
            </panes>
          </view>
          
        </views>
      </tab>
      <tab id="Status" text="System Status" default_view="DICOM" version="1.0">
        <menus>
          <menu text="File" typename="Viatronix.Console.MenuFile, Console" version="1.0"/>
          <menu text="Help" typename="Viatronix.Console.MenuHelp, Console" version="1.0"/>
        </menus>
        <panes>
        </panes>
        <views>
          <view id="Processor" text="Status" description="" typename="Viatronix.Console.ViewStatusProcessor, Console" version="1.0">
            <additional_data>
              <ServerServices version="1.0">
                <DicomServices RefreshRate="3"/>
                <WQServices RefreshRate="5"/>
                <PendingQueue RefreshRate="3"/>
                <StatusMessage RefreshRate="10"/>
              </ServerServices>
            </additional_data>
          </view>
          <view id="PacsQueue" text="PACS Queue" description="" typename="Viatronix.Console.ViewStatusPacs, Console" version="1.0">
            <additional_data>
              <ServerServices version="1.0">
                <listviews pacsQueueService="pacsQueueColumns"/>
                <PacsQueueServices RefreshRate="30">
                  <url address="tcp://localhost:9100/PacsQueueServer.rem"/>
                </PacsQueueServices>
              </ServerServices>
            </additional_data>
          </view>
        </views>
      </tab>
      <tab id="Users and Groups" text="User Management" default_view="UsersView" version="1.0">
        <menus>
          <menu text="File" typename="Viatronix.Console.MenuFile, Console" version="1.0"/>
          <menu text="Help" typename="Viatronix.Console.MenuHelp, Console" version="1.0"/>
        </menus>
        <panes>
        </panes>
        <views>
          <view id="UsersView" text="Users" description="" typename="Viatronix.Console.ViewUMAS, Console" version="1.0">
            <additional_data>
              <configuration dataProvider="security">
                <listviews userView="userColumns"/>
              </configuration>
            </additional_data>
          </view>
        </views>
      </tab>
    </tabs>
  </frame>
  
  <!-- Transfer Items -->
  <transferItems version="1.0">
    <item subtype="vc" name="Snapshots" searchInSeries="Session" searchInFolder="" formats=".vrx,.jpg,.png" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider"/>
    <item subtype="vc" name="Reports" searchInSeries="Session" searchInFolder="" formats=".vrx" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider"/>
    <item subtype="vc" name="Movies" searchInSeries="Session" searchInFolder="Movies" formats=".avi,.wmv,.jpg,.png" checkState="true" sessiontypename="Viatronix.Console.VCSessionProvider"/>
    <item subtype="vc" name="Preprocessed" searchInSeries="Preprocessed" searchInFolder="" formats="*.*" checkState="true" sessiontypename=""/>
    <item subtype="vc" name="CAD" searchInSeries="CAD" searchInFolder="" formats="*.*" checkState="true" sessiontypename=""/>
    <item subtype="default" name="Snapshots" searchInSeries="Session" searchInFolder="Snapshots" formats=".jpg,.png" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider"/>
    <item subtype="default" name="Movies" searchInSeries="Session" searchInFolder="Movies" formats=".avi,.wmv,.png" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider"/>
    <item subtype="default" name="Reports" searchInSeries="Session" searchInFolder="Report" formats="report.xml" checkState="true" sessiontypename="Viatronix.Console.V3DSessionProvider"/>
    <item subtype="default" name="DICOM" searchInSeries="Dicom" searchInFolder="" formats=".dcm" checkState="true" sessiontypename=""/>
    <item subtype="default" name="Volume" searchInSeries="Volume" searchInFolder="" formats="*.*" checkState="true" sessiontypename=""/>
    <item subtype="default" name="Preprocessed" searchInSeries="Preprocessed" searchInFolder="" formats="*.*" checkState="true" sessiontypename=""/>
    <item subtype="default" name="CAD" searchInSeries="CAD" searchInFolder="" formats="*.*" checkState="true" sessiontypename=""/>
  </transferItems>
  
  <!-- Dynamic Column Definitions -->
  <dynamicColumns version="1.0">
    
    <!-- Study Pane -->
    <columns id="studyColumns" type="Viatronix.UI.DynamicObjectColumnHeader, v3dui" version="1.0">


      <!-- Patient Information -->
      <column id="name" text="Name" default="true" width="150" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Name"/>
      <column id="id" text="Medical ID" default="true" width="90" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="MedicalId"/>
      <column id="weight" text="Weight" default="false" width="90" align="Right" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Weight"/>
      <column id="gender" text="Sex" default="false" width="90" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Gender"/>
      <column id="dob" text="Date of Birth" default="false" width="110" formatting="d" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Dob"/>
      
      <!-- Study Information -->
      <column id="scanDate" text="Scan Date" default="true" width="90" formatting="d" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Date"/>
      <column id="description" text="Description" default="true" width="200" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Description"/>
      <column id="physician" text="Referring Physician" default="true" width="150" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Physician"/>
      <column id="uid" text="Uid" default="true" width="150" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Uid"/>
      <column id="Id" text="Id" default="false" width="90" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Id"/>
      <column id="accessionNumber" text="Accession Number" default="false" width="120" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="AccessionNumber"/>
      <column id="group" text="Group" default="false" width="120" formatting="" type="Viatronix.Enterprise.Entities.Study, v3dent" property="Group"/>
      
    </columns>
    
    <!-- Series Pane -->
    <columns id="seriesColumns" type="Viatronix.UI.DynamicObjectColumnHeader, v3dui" version="1.0">
      <column id="description" text="Description" default="true" width="300" formatting="" property="Description" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="type" text="Type" default="true" width="100" formatting="" property="Type" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="app" text="Application" default="true" width="100" formatting="" property="Application" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="orientation" text="Orientation" default="true" width="100" formatting="" property="PatientOrientation" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="modality" text="Modality" default="true" width="100" formatting="" property="Modality" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="imageCount" text="Image Count" default="true" width="100" align="Right" formatting="" property="ImageCount" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="parameters" text="Parameters" default="false" width="100" formatting="" property="Parameters" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="state" text="State" default="false" width="100" formatting="" property="State" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="source" text="Source" default="false" width="100" formatting="" property="Source" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="dicomSeriesNumber" text="DICOM Series Number" default="false" width="140" align="Right" formatting="" property="Number" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="dateReceived" text="Date Received" default="false" width="110" formatting="g" property="DateReceived" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="dateProcessed" text="Date Processed" default="true" width="110" formatting="g" property="DateProcessed" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
      <column id="uid" text="UID" default="false" width="150" formatting="" property="Uid" type="Viatronix.Enterprise.Entities.Series, v3dent"/>
    </columns>
    
 
     
    
     
    
      <!-- Users Pane -->
    <columns id="userColumns" type="Viatronix.UI.DynamicObjectColumnHeader, v3dui" version="1.0">
      <column id="login" text="Login Name" default="true" width="220" formatting="" type="Viatronix.Enterprise.Entities.User, v3dent" property="Login"/>
      <column id="role" text="Role" default="true" width="220" formatting="" type="Viatronix.Enterprise.Entities.User, v3dent" property="Role"/>
      <column id="name" text="Name" default="true" width="250" formatting="" type="Viatronix.Enterprise.Entities.User, v3dent" property="Name"/>
      <column id="domain" text="Domain" default="true" width="250" formatting="" type="Viatronix.Enterprise.Entities.User, v3dent" property="Domain"/>
      <column id="in" text="Logged In" default="true" width="250" formatting="" type="Viatronix.Enterprise.Entities.User, v3dent" property="IsLoggedIn"/>
    </columns>
    
  </dynamicColumns>

  
  <sessionViewers version="1.0">
    <details type="session" subtype="xp" typename="Viatronix.Console.V3DSessionViewer, Console" version="1.0">
      <additionalInfo assemblyFile="$(ViewersDirectory)\XP\Viatronix.Viewer.Core.dll" assemblyTypename="Viatronix.Viewer.Plugins.SessionDetails"/>
    </details>
    <details type="session" subtype="cs" typename="Viatronix.Console.V3DSessionViewer, Console" version="1.0">
      <additionalInfo assemblyFile="$(ViewersDirectory)\CS\Viatronix.Viewer.Core.dll" assemblyTypename="Viatronix.Viewer.Plugins.SessionDetails"/>
    </details>
    <details type="session" subtype="ang" typename="Viatronix.Console.V3DSessionViewer, Console" version="1.0">
      <additionalInfo assemblyFile="$(ViewersDirectory)\ANGIO\Viatronix.Viewer.Core.dll" assemblyTypename="Viatronix.Viewer.Plugins.SessionDetails"/>
    </details>
    <details type="session" subtype="fn" typename="Viatronix.Console.V3DSessionViewer, Console" version="1.0">
      <additionalInfo assemblyFile="$(ViewersDirectory)\FN\Viatronix.Viewer.Core.dll" assemblyTypename="Viatronix.Viewer.Plugins.SessionDetails"/>
    </details>
    <details type="session" subtype="vas" typename="Viatronix.Console.V3DSessionViewer, Console" version="1.0">
      <additionalInfo assemblyFile="$(ViewersDirectory)\VAS\Viatronix.Viewer.Core.dll" assemblyTypename="Viatronix.Viewer.Plugins.SessionDetails"/>
    </details>
    <details type="session" subtype="ln" typename="Viatronix.Console.V3DSessionViewer, Console" version="1.0">
      <additionalInfo assemblyFile="$(ViewersDirectory)\LN\Viatronix.Viewer.Core.dll" assemblyTypename="Viatronix.Viewer.Plugins.SessionDetails"/>
    </details>
    <details type="session" subtype="car" typename="Viatronix.Console.V3DSessionViewer, Console" version="1.0">
      <additionalInfo assemblyFile="$(ViewersDirectory)\CAR\Viatronix.Viewer.Core.dll" assemblyTypename="Viatronix.Viewer.Plugins.SessionDetails"/>
    </details>
    <details type="session" subtype="vc" typename="Viatronix.Console.VCSessionViewer, Console" version="1.0"/>
  </sessionViewers>
  
  
  <!-- Launch Rules -->
  <launchRules version="1.0">
    <rule id="vc" text="Virtual Colonoscopy" typename="Viatronix.Console.VcCADRule, v3dconcore" launcher="Viatronix.Console.VCLauncher, v3dconcore" executable="$(ViewersDirectory)\VC\V3DViewerColon.exe" image="Viatronix.Console.res.logo-vc.png, Console" version="1.0"/>
  </launchRules>
  
  <reportMacros version="1.0">
    <macro id="v3d_patientInfo" typename="Viatronix.Console.Transfer.PatientInfoTag"/>
    <macro id="v3d_snapshots" typename="Viatronix.Console.Transfer.SnpshotTableTag"/>
    <macro id="v3d_movies" typename="Viatronix.Console.Transfer.MovieTableTag"/>
    <macro id="v3d_reports" typename="Viatronix.Console.Transfer.ReportLinkTag"/>
    <macro id="v3d_reportheader" typename="Viatronix.Console.Transfer.ReportHeaderTag"/>
    <macro id="v3d_title" typename="Viatronix.Console.Transfer.TitleTag"/>
  </reportMacros>
  
   <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
</configuration>
