<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, vxloglib"/>
    <!--<section name="serverConnections" type="Viatronix.Utilities.Dicom.PACSViewer.SectionHandlers.ServerConnectionsConfigSectionHandler, PACSViewer"/>-->
    <section name="modalities" type="Viatronix.Utilities.Dicom.PACSViewer.SectionHandlers.ModalitiesSectionHandler, PACSViewer"/>
  </configSections>

  <appSettings>
    <add key="serviceMode" value="False"/>
  </appSettings>

  <loggers>
    <logger name="PACSViewer" level="Verbose" default="True"/>
  </loggers>

  <!--<serverConnections>
    <connection name="CareStream" aetitle="V3D" serverAETitle="kodak-pacsFIR" server="kodak-pacs" port="2104"/>
  </serverConnections>-->

  <modalities>
    <modality id="" desc="All Modalities"/>
    <modality id="CT" desc="Computed Tomography"/>
    <modality id="MR" desc="Magnetic Resonance"/>
    <modality id="PT" desc="Positron emission tomography (PET)"/>
    <modality id="OT" desc="Other"/>
    <modality id="XA" desc="X-Ray Angiography"/>
    <modality id="AU" desc="Audio"/>
    <modality id="BI" desc="Biomagnetic imaging"/>
    <modality id="CD" desc="Color flow Doppler"/>
    <modality id="CR" desc="Computed Radiography"/>
    <modality id="DD" desc="Duplex Doppler"/>
    <modality id="DG" desc="Diaphanography"/>
    <modality id="DX" desc="Digital Radiography"/>
    <modality id="ECG" desc="Electrocardiography"/>
    <modality id="EPS" desc="Cardiac Electrophysiology"/>
    <modality id="ES" desc="Endoscopy"/>
    <modality id="GM" desc="General Microscopy"/>
    <modality id="HC" desc="Hard Copy"/>
    <modality id="HD" desc="Hemodynamic Waveform"/>
    <modality id="IO" desc="Intra-oral Radiography"/>
    <modality id="LS" desc="Laser surface scan"/>
    <modality id="MG" desc="Mammography"/>
    <modality id="NM" desc="Nuclear Medicine"/>
    <modality id="PR" desc="Presentation State"/>
    <modality id="PX" desc="Panoramic X-Ray"/>
    <modality id="RF" desc="Radio Fluoroscopy"/>
    <modality id="RG" desc="Radiographic imaging (conventional film/screen)"/>
    <modality id="RTDOSE" desc="Radiotherapy Dose"/>
    <modality id="RTIMAGE" desc="Radiotherapy Image"/>
    <modality id="RTPLAN" desc="Radiotherapy Plan"/>
    <modality id="RTRECORD" desc="RT Treatment Record"/>
    <modality id="RTSTRUCT" desc="Radiotherapy Structure Set"/>
    <modality id="SC" desc="Secondary Capture"/>
    <modality id="SM" desc="Slide Microscopy"/>
    <modality id="ST" desc="Single-photon emission computed tomography (SPECT)"/>
    <modality id="TG" desc="Thermography"/>
    <modality id="US" desc="Ultrasound"/>
    <modality id="XC" desc="External-camera Photography"/>
  </modalities>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
