<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="Data Source=(local)\JIRA;Initial Catalog=Viatronix;User Id=v3duser;Password=plugmein65%;"/>
    <add key="type" value="Backup"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
