<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="server" value="secure.emailsrvr.com"/>
    <add key="port" value="587"/>
    <add key="ssl" value="True"/>
    <add key="from" value="system@viatronix.com"/>
    <add key="user" value="system@viatronix.com"/>
    <add key="password" value="all4one!"/>
    <add key="to" value="administrator@viatronix.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
