<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messages" type="Viatronix.Utilities.MessagesSectionHandler, utilslib" />
  </configSections>

  <appSettings>
    <add key="LogFile" value="C:\ProgramData\Viatronix\Logs\SelectiveManifestGenerator.txt" />
    <add key="LogLevel" value="5" /> <!-- 1=CRITICAL, 2=ERROR, 3=WARNING, 4=INFORMATION, 5=DEBUG -->
  </appSettings>
  
  <messages>
    <message code="VX001" desc="MultipleInstancesMsgBoxText"             value="Another instance of this program is already running.  Please close the running program and try again.  If the program is not visible; please ensure that it doesn't appear in the process table." />
    <message code="VX002" desc="MultipleInstancesMsgBoxCaption"          value="Multiple instances running." />
    <message code="VX003" desc="FailedLoggerConfigurationMsgBoxText"     value="Failed to configure logging for this application.  Application will now close down...  [ERROR='{0}']" />
    <message code="VX004" desc="FailedLoggerConfigurationMsgBoxCaption"  value="Failed Logger Configuration" />
    <message code="VX005" desc="MustSpecifyDirectoryMsgBoxText"          value="Please specify a valid directory to continue." />
    <message code="VX006" desc="MustSpecifyDirectoryMsgBoxText"          value="Specify Valid Directory For Load" />
    <message code="VX007" desc="NotLoadedMsgBoxText"                     value="Please specify a directory and click the Load button, or use the directory navigation button.  Please try again." />
    <message code="VX008" desc="NotLoadedMsgBoxCaption"                  value="Directory Not Loaded" />
    <message code="VX009" desc="NoDirectoriesSelectedMsgBoxText"         value="No directories have been selected for manifest generation.  Please select at least one directory to continue." />
    <message code="VX010" desc="NoDirectoriesSelectedMsgBoxCaption"      value="Nothing To Be Done" />
    <message code="VX011" desc="ErrorOnLoadMsgBoxText"                   value="An error occurred during the load operation." />
    <message code="VX012" desc="ErrorOnLoadMsgBoxCaption"                value="Error During Load" />
    <message code="VX013" desc="ManifestFileSaveSuccessfulMsgBoxText"    value="The manifest file was successfully saved." />
    <message code="VX014" desc="ManifestFileSaveSuccessfulMsgBoxCaption" value="Save Successful" />
    <message code="VX015" desc="ManifestFileSaveFailedMsgBoxText"        value="An error occured saving the manifest file." />
    <message code="VX016" desc="ManifestFileSaveFailedMsgBoxCaption"     value="Save Failed" />
  </messages>

</configuration>
