<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="presets" type="Viatronix.v3D.Viewer.Plugins.Vascular.PresetSectionHandler, Viatronix.v3D.Viewer.Plugins.Vascular" />
    <section name="logging" type="Viatronix.v3D.Logging.LoggerSectionHandler, Viatronix.v3D.Logger, Culture=Neutral, PublicKeyToken=4fab9e3fb9f7bf47, Version=1.1.0.0" />
    <section name="TransportSettings" type="Viatronix.v3D.Licensing.ClientConfigSectionHandler, Viatronix.v3D.Licensing, Culture=Neutral, PublicKeyToken=1d39148f9f239cde, Version=2.4.0.0" />    
  </configSections>
  
   <!-- logger settings -->
  <logging>
    <LogFile>$(LogDirectory)\Viatronix.v3D.Processor.Vascular</LogFile>  
    <LogLevel>Debug</LogLevel>
  </logging>
  
  <appSettings>
    <add key="matchtablePath" value="config/VAS/VascularPresetMatchTable.xml"/>
    <add key="moviePath" value="config/VAS/Movies.xml"/>
  </appSettings>
  
  
  <presets>
    <preset name="CTA, CT"        filename="Config\Presets\CTA, CT.xml"       adjusterTypeName="Viatronix.v3D.Visualization.PresetAdjuster, Viatronix.v3D.Visualization" modality="CT" bodyPart="CTA" dicomGroup="" dicomField="" dicomValue="" version="1.0" /> 
    <preset name="CTA, Coronary"  filename="Config\Presets\CTA, Coronary.xml" adjusterTypeName="Viatronix.v3D.Visualization.PresetAdjuster, Viatronix.v3D.Visualization" modality="CT" bodyPart="CTA" dicomGroup="" dicomField="" dicomValue="" version="1.0" /> 
    <preset name="CTA, COW"       filename="Config\Presets\CTA, COW.xml"      adjusterTypeName="Viatronix.v3D.Visualization.PresetAdjuster, Viatronix.v3D.Visualization" modality="CT" bodyPart="CTA" dicomGroup="" dicomField="" dicomValue="" version="1.0" /> 
    <preset name="CTA, Carotid"   filename="Config\Presets\CTA, Carotid.xml"  adjusterTypeName="Viatronix.v3D.Visualization.PresetAdjuster, Viatronix.v3D.Visualization" modality="CT" bodyPart="CTA" dicomGroup="" dicomField="" dicomValue="" version="1.0" /> 
    <preset name="CTA, Abdomen"   filename="Config\Presets\CTA, Abdomen.xml"  adjusterTypeName="Viatronix.v3D.Visualization.PresetAdjuster, Viatronix.v3D.Visualization" modality="CT" bodyPart="CTA" dicomGroup="" dicomField="" dicomValue="" version="1.0" /> 
    <preset name="CTA, Runoff"    filename="Config\Presets\CTA, Runoff.xml"   adjusterTypeName="Viatronix.v3D.Visualization.PresetAdjuster, Viatronix.v3D.Visualization" modality="CT" bodyPart="CTA" dicomGroup="" dicomField="" dicomValue="" version="1.0" /> 
  </presets>
  
  <TransportSettings>
    <Type>Viatronix.v3D.Licensing.RemoteTransportSettings, Viatronix.v3D.Licensing, Culture=Neutral, PublicKeyToken=1d39148f9f239cde, Version=2.4.0.0</Type>
    <Url>tcp://localhost:9200/LicenseServer</Url>
  </TransportSettings>
  
</configuration>
