<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- custom section handlers -->
  <configSections>
    <section name="synonyms" type="Viatronix.Utilities.Database.SynonymsSectionHandler, LinkLicenseSystem"/>
  </configSections>

  <synonyms>
    <synonym database="Security" source="[Licensing].[v3d].[sp_acquireLicense]" dest="[v3d].[sp_acquireLicense]"/>
    <synonym database="Security" source="[Licensing].[v3d].[sp_validateLicenses]" dest="[v3d].[sp_validateLicenses]"/>
    <synonym database="Security" source="[Licensing].[v3d].[sp_validateLicense]" dest="[v3d].[sp_validateLicense]"/>
    <synonym database="Security" source="[Licensing].[v3d].[sp_getLicenseRemote]" dest="[v3d].[sp_getLicenses]"/>
    <synonym database="Security" source="[Licensing].[v3d].[Licenses]" dest="[v3d].[Licenses]"/>
    <synonym database="Security" source="[Licensing].[v3d].[sp_releaseLicenses]" dest="[v3d].[sp_releaseLicenses]"/>
    
    <synonym database="System" source="[Licensing].[v3d].[sp_registerSystem]" dest="[v3d].[sp_registerSystem]"/>
    <synonym database="System" source="[Licensing].[v3d].[sp_unregisterSystem]" dest="[v3d].[sp_unregisterSystem]"/>
  </synonyms>


  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
