<?xml version="1.0"?>
<configuration>
  
  <!-- Specify sections and the handlers. -->
  <configSections>
    <section name="validationTests"    type="Viatronix.Enterprise.Tests.DatabaseValidation.Sql.ValidationTestSectionHandler, Viatronix.Enterprise.Tests.DatabaseValidation.Sql" />
    <section name="databases"          type="Viatronix.Enterprise.Tests.DatabaseValidation.Sql.DatabasesSectionHandler, Viatronix.Enterprise.Tests.DatabaseValidation.Sql" />
    <section name="objects"            type="Viatronix.Enterprise.Tests.DatabaseValidation.Sql.ObjectsSectionHandler, Viatronix.Enterprise.Tests.DatabaseValidation.Sql" />
    <section name="versionedObjects"   type="Viatronix.Enterprise.Tests.DatabaseValidation.Sql.VersionedObjectsSectionHandler, Viatronix.Enterprise.Tests.DatabaseValidation.Sql"/>
    <section name="dbSettings"         type="Viatronix.Enterprise.Tests.DatabaseValidation.Sql.DBSettingsSectionHandler, Viatronix.Enterprise.Tests.DatabaseValidation.Sql"/>
  </configSections>

  <!-- Tests should be added here. -->
  <validationTests>
    <validationTest type="Viatronix.Enterprise.Tests.DatabaseValidation.Sql.Validations.ObjectExistanceTest, Viatronix.Enterprise.Tests.DatabaseValidation.Sql" />
    <validationTest type="Viatronix.Enterprise.Tests.DatabaseValidation.Sql.Validations.VersionedObjectsTest, Viatronix.Enterprise.Tests.DatabaseValidation.Sql" />
    <validationTest type="Viatronix.Enterprise.Tests.DatabaseValidation.Sql.Validations.DatabaseSettingsTest, Viatronix.Enterprise.Tests.DatabaseValidation.Sql" />
  </validationTests>
  
  <!-- Requested database checks should be added here. -->
  <databases>
    <database name="Auditing"   />
    <database name="Processing" />
    <database name="Security"   />
    <database name="Storage"    />
    <database name="Security"   />
  </databases>

  <!-- Requested tables/stored procs/functions checks should be added here. -->
  <objects>
    <!-- ============================ Auditing Database ======================================================== -->
    <!-- Auditing Database's Tables -->
    <object name="Auditing.v3d.ReceivingHistory"                        type="table" />
    <object name="Auditing.v3d.StudyHistory"                            type="table" />
    <object name="Auditing.v3d.UserHistory"                             type="table" />

    <!-- Auditing Database's Stored Procedures -->
    <object name="Auditing.v3d.sp_addStudyHistory"                      type="stored procedure" />
    <object name="Auditing.v3d.sp_addUserHistory"                       type="stored procedure" />
    <object name="Auditing.v3d.sp_insertReceivingHistory"               type="stored procedure" />
    <object name="Auditing.v3d.sp_purgeDatabase"                        type="stored procedure" />
    <!-- ======================================================================================================= -->

    <!-- ============================ Processing Database ======================================================== -->
    <!-- Processing Database's Tables -->
    <object name="Processing.v3d.Jobs"                                  type="table" />
    <object name="Processing.v3d.Tasks"                                 type="table" />

    <!-- Security Database's Stored Procedures -->
    <object name="Processing.v3d.sp_abortTask"                          type="stored procedure" />
    <object name="Processing.v3d.sp_completeTask"                       type="stored procedure" />
    <object name="Processing.v3d.sp_createJob"                          type="stored procedure" />
    <object name="Processing.v3d.sp_deleteJob"                          type="stored procedure" />
    <object name="Processing.v3d.sp_failTask"                           type="stored procedure" />
    <object name="Processing.v3d.sp_getJobs"                            type="stored procedure" />
    <object name="Processing.v3d.sp_getNextJob"                         type="stored procedure" />
    <object name="Processing.v3d.sp_purgeDatabase"                      type="stored procedure" />
    <object name="Processing.v3d.sp_resetJobs"                          type="stored procedure" />
    <object name="Processing.v3d.sp_startTask"                          type="stored procedure" />
    <object name="Processing.v3d.sp_updateJobStatus"                    type="stored procedure" />

    <!-- Processing Database's Functions -->
    <object name="Processing.v3d.fn_getSetting"                         type="function" />
    <object name="Processing.v3d.fn_getState"                           type="function" />
    <!-- ======================================================================================================= -->
    
    <!-- ============================ Security Database ======================================================== -->
    <!-- Security Database's Tables -->
    <object name="Security.v3d.Contexts"                                type="table" />
    <object name="Security.v3d.Licenses"                                type="table" />
    <object name="Security.v3d.Passwords"                               type="table" />
    <object name="Security.v3d.PermissionTemplates"                     type="table" />
    <object name="Security.v3d.Profiles"                                type="table" />
    <object name="Security.v3d.States"                                  type="table" />
    <object name="Security.v3d.Users"                                   type="table" />
    <object name="Security.v3d.Workspaces"                              type="table" />

    <!-- Security Database's Stored Procedures -->
    <object name="Security.v3d.sp_acquireContext"                       type="stored procedure" />
    <object name="Security.v3d.sp_acquireLicense"                       type="stored procedure" />
    <object name="Security.v3d.sp_activateUser"                         type="stored procedure" />
    <object name="Security.v3d.sp_addLicenses"                          type="stored procedure" />
    <object name="Security.v3d.sp_addProfile"                           type="stored procedure" />
    <object name="Security.v3d.sp_addSetting"                           type="stored procedure" />
    <object name="Security.v3d.sp_adduser"                              type="stored procedure" />
    <object name="Security.v3d.sp_authenticateUser"                     type="stored procedure" />
    <object name="Security.v3d.sp_changePassword"                       type="stored procedure" />
    <object name="Security.v3d.sp_characterCount"                       type="stored procedure" />
    <object name="Security.v3d.sp_cleanupExpiredContexts"               type="stored procedure" />
    <object name="Security.v3d.sp_deactivateUser"                       type="stored procedure" />
    <object name="Security.v3d.sp_deleteSetting"                        type="stored procedure" />
    <object name="Security.v3d.sp_deleteUser"                           type="stored procedure" />
    <object name="Security.v3d.sp_disableLicense"                       type="stored procedure" />
    <object name="Security.v3d.sp_enableLicense"                        type="stored procedure" />
    <object name="Security.v3d.sp_encryptPassword"                      type="stored procedure" />
    <object name="Security.v3d.sp_forcePasswordChange"                  type="stored procedure" />
    <object name="Security.v3d.sp_getContextId"                         type="stored procedure" />
    <object name="Security.v3d.sp_getContexts"                          type="stored procedure" />
    <object name="Security.v3d.sp_gethashkey"                           type="stored procedure" />
    <object name="Security.v3d.sp_getLicenses"                          type="stored procedure" />
    <object name="Security.v3d.sp_getProfile"                           type="stored procedure" />
    <object name="Security.v3d.sp_getUsers"                             type="stored procedure" />
    <object name="Security.v3d.sp_getWorkspace"                         type="stored procedure" />
    <object name="Security.v3d.sp_isAuthorized"                         type="stored procedure" />
    <object name="Security.v3d.sp_lockLicense"                          type="stored procedure" />
    <object name="Security.v3d.sp_purgeDatabase"                        type="stored procedure" />
    <object name="Security.v3d.sp_releaseContext"                       type="stored procedure" />
    <object name="Security.v3d.sp_releaseLicense"                       type="stored procedure" />
    <object name="Security.v3d.sp_renewContext"                         type="stored procedure" />
    <object name="Security.v3d.sp_unlockLicense"                        type="stored procedure" />
    <object name="Security.v3d.sp_updateExpiredLicenses"                type="stored procedure" />
    <object name="Security.v3d.sp_updateProfile"                        type="stored procedure" />
    <object name="Security.v3d.sp_updateSetting"                        type="stored procedure" />
    <object name="Security.v3d.sp_updateUser"                           type="stored procedure" />
    <object name="Security.v3d.sp_updateUserProfile"                    type="stored procedure" />
    <object name="Security.v3d.sp_validateLicenses"                     type="stored procedure" />
    <object name="Security.v3d.sp_validateMaximumRepititionsAllowed"    type="stored procedure" />
    <object name="Security.v3d.sp_validatePassword"                     type="stored procedure" />
    <object name="Security.v3d.sp_validateUserPassword"                 type="stored procedure" />
    <object name="Security.v3d.sp_windowsAuthentication"                type="stored procedure" />
    
    <!-- Security Database's Functions -->
    <object name="Security.v3d.fn_defaultTTL"                           type="function" />
    <object name="Security.v3d.fn_getExpirationDate"                    type="function" />
    <object name="Security.v3d.fn_getSetting"                           type="function" />
    <object name="Security.v3d.fn_getSettingEx"                         type="function" />
    <object name="Security.v3d.fn_getState"                             type="function" />
    <object name="Security.v3d.fn_getVersion"                           type="function" />
    <object name="Security.v3d.fn_isState"                              type="function" />
    <object name="Security.v3d.fn_isUserLoggedIn"                       type="function" />
    <!-- ======================================================================================================= -->

    <!-- ============================ Storage Database ======================================================== -->
    <!-- Storage Database's Tables -->
    <object name="Storage.v3d.Acquisitions"                              type="table" />
    <object name="Storage.v3d.Images"                                   type="table" />
    <object name="Storage.v3d.Locations"                                type="table" />
    <object name="Storage.v3d.Messages"                                 type="table" />
    <object name="Storage.v3d.PagedQuery"                               type="table" />
    <object name="Storage.v3d.Pages"                                    type="table" />
    <object name="Storage.v3d.Receiving"                                type="table" />
    <object name="Storage.v3d.Series"                                   type="table" />
    <object name="Storage.v3d.Studies"                                  type="table" />
    <object name="Storage.v3d.VolumeReferences"                         type="table" />
    <object name="Storage.v3d.Volumes"                                  type="table" />

    <!-- Storage Database's Stored Procedures -->
    <object name="Storage.v3d.sp_addSeries"                             type="stored procedure" />
    <object name="Storage.v3d.sp_addStudy"                              type="stored procedure" />
    <object name="Storage.v3d.sp_cleanupErrorWarningMessages"           type="stored procedure" />
    <object name="Storage.v3d.sp_cleanupSeriesMessages"                 type="stored procedure" />
    <object name="Storage.v3d.sp_cleanupSourceMessages"                 type="stored procedure" />
    <object name="Storage.v3d.sp_createPages"                           type="stored procedure" />
    <object name="Storage.v3d.sp_decompress"                            type="stored procedure" />
    <object name="Storage.v3d.sp_deleteDirectory"                       type="stored procedure" />
    <object name="Storage.v3d.sp_deleteEntireSeries"                    type="stored procedure" />
    <object name="Storage.v3d.sp_deleteSeries"                          type="stored procedure" />
    <object name="Storage.v3d.sp_deleteStudy"                           type="stored procedure" />
    <object name="Storage.v3d.sp_getDicomHeader"                        type="stored procedure" />
    <object name="Storage.v3d.sp_getDicomInfo"                          type="stored procedure" />
    <object name="Storage.v3d.sp_getReceivedDicomSeries"                type="stored procedure" />
    <object name="Storage.v3d.sp_getSeries"                             type="stored procedure" />
    <object name="Storage.v3d.sp_getStudies"                            type="stored procedure" />
    <object name="Storage.v3d.sp_populateDatabase"                      type="stored procedure" />
    <object name="Storage.v3d.sp_purgeDatabase"                         type="stored procedure" />
    <object name="Storage.v3d.sp_receiveDicomImage"                     type="stored procedure" />
    <object name="Storage.v3d.sp_receiverCompleted"                     type="stored procedure" />
    <object name="Storage.v3d.sp_receiverFailed"                        type="stored procedure" />
    <object name="Storage.v3d.sp_serializeXml"                          type="stored procedure" />

    <!-- Storage Database's Functions -->
    <object name="Storage.v3d.fn_getAddress"                            type="function" />
    <object name="Storage.v3d.fn_getCoordinates"                        type="function" />
    <object name="Storage.v3d.fn_getCosines"                            type="function" />
    <object name="Storage.v3d.fn_getOrientationInformation"             type="function" />
    <object name="Storage.v3d.fn_getPersonName"                         type="function" />
    <object name="Storage.v3d.fn_convertDateTime"                       type="function" />
    <object name="Storage.v3d.fn_formatName"                            type="function" />
    <object name="Storage.v3d.fn_getDicomInfo"                          type="function" />
    <object name="Storage.v3d.fn_getDicomName"                          type="function" />
    <object name="Storage.v3d.fn_getGender"                             type="function" />
    <object name="Storage.v3d.fn_getLocation"                           type="function" />
    <object name="Storage.v3d.fn_getRoot"                               type="function" />
    <object name="Storage.v3d.fn_getScanDate"                           type="function" />
    <object name="Storage.v3d.fn_getSetting"                            type="function" />
    <object name="Storage.v3d.fn_getVersion"                            type="function" />
    <object name="Storage.v3d.fn_isLocked"                              type="function" />
    <object name="Storage.v3d.isExpired"                             type="function" />
    <!-- ======================================================================================================= -->

    <!-- ============================ System Database ======================================================== -->
    <!-- System Database's Tables -->
    <object name="System.v3d.Directories"                              type="table" />
    <object name="System.v3d.ErrorCodes"                               type="table" />
    <object name="System.v3d.Groups"                                   type="table" />
    <object name="System.v3d.Install"                                  type="table" />
    <object name="System.v3d.Masks"                                    type="table" />
    <object name="System.v3d.Searching"                                type="table" />
    <object name="System.v3d.Settings"                                 type="table" />
    <object name="System.v3d.Site"                                     type="table" />
    <object name="System.v3d.Stores"                                   type="table" />
    <object name="System.v3d.Versions"                                 type="table" />

    <!-- System Database's Stored Procedures -->
    <object name="System.v3d.sp_checksystem"                           type="stored procedure" />
    <object name="System.v3d.sp_checksystemdate"                       type="stored procedure" />
    <object name="System.v3d.sp_checksystemid"                         type="stored procedure" />
    <object name="System.v3d.sp_formatErrorMessage"                    type="stored procedure" />
    <object name="System.v3d.sp_getStore"                              type="stored procedure" />
    <object name="System.v3d.sp_getsystemid"                           type="stored procedure" />
    <object name="System.v3d.sp_search"                                type="stored procedure" />
    <object name="System.v3d.sp_updateSetting"                         type="stored procedure" />

    <!-- System Database's Functions -->
    <object name="System.v3d.fn_buildComparison"                       type="function" />
    <object name="System.v3d.fn_buildDateComparison"                   type="function" />
    <object name="System.v3d.fn_buildFloatComparison"                  type="function" />
    <object name="System.v3d.fn_buildIntegerComparison"                type="function" />
    <object name="System.v3d.fn_buildLikeStringComparison"             type="function" />
    <object name="System.v3d.fn_buildStringComparison"                 type="function" />
    <object name="System.v3d.fn_getMaskBit"                            type="function" />
    <object name="System.v3d.fn_getSetting"                            type="function" />
    <object name="System.v3d.fn_getVersion"                            type="function" />
    <object name="System.v3d.fn_installedSystemId"                     type="function" />
    <object name="System.v3d.fn_isMaskBitSet"                          type="function" />
    <object name="System.v3d.fn_setMaskBit"                            type="function" />
    <object name="System.v3d.fn_unsetMaskBit"                          type="function" />
    <!-- ======================================================================================================= -->
  </objects>

  <!-- Checks for versioned databases/tables/dynamic tables should be added here. -->
  <versionedObjects>
    <!-- =================================== Databases ========================================================= -->
    <versionedObject name="Auditing"   version="4.0" type="database" />
    <versionedObject name="Processing" version="4.0" type="database" />
    <versionedObject name="Security"   version="4.0" type="database" />
    <versionedObject name="Storage"    version="4.0" type="database" />
    <versionedObject name="System"     version="4.0" type="database" />
    <!-- ======================================================================================================= -->
    
    <!-- ===================================== Tables ========================================================== -->
    <versionedObject name="Users"      version="2.0" type="table" />
    <versionedObject name="Series"     version="2.0" type="table" />
    <versionedObject name="Studies"    version="2.0" type="table" />
    <versionedObject name="Contexts"   version="2.0" type="table" />
    <versionedObject name="Workspaces" version="2.0" type="table" />
    <versionedObject name="Licenses"   version="2.0" type="table" />
    <!-- ======================================================================================================= -->

    <!-- =================================== Dynmaic Tables ==================================================== -->
    <versionedObject name="dicomInfo"  version="3.0" type="dynamic table" />
    <!-- ======================================================================================================= -->
  </versionedObjects>

  <!-- Checks for Database Settings should be added table. -->
  <dbSettings>
    <dbSetting subsystem="Security"   name="AgedPasswordCount"                value="5" />
    <dbSetting subsystem="Security"   name="AllowEmbeddedLogin"               value="False" />
    <dbSetting subsystem="Security"   name="AllowSpaces"                      value="False" />
    <dbSetting subsystem="Security"   name="AuthenticationDomain"             value="" />
    <dbSetting subsystem="Security"   name="AuthenticationType"               value="1" />
    <dbSetting subsystem="Security"   name="LoginPasswordMustDiffer"          value="True" />
    <dbSetting subsystem="Security"   name="MaximumCharacterRepititions"      value="2" />
    <dbSetting subsystem="Security"   name="MaximumPasswordChanges"           value="5" />
    <dbSetting subsystem="Security"   name="MaximumPasswordChangesTimeSpan"   value="5" />
    <dbSetting subsystem="Security"   name="MaximumPasswordLength"            value="12" />
    <dbSetting subsystem="Security"   name="MinimumPasswordLength"           value="6" />
    <dbSetting subsystem="Security"   name="MinimumSpecialCharacters"         value="1" />
    <dbSetting subsystem="Security"   name="PasswordExpiration"               value="30" />
    <dbSetting subsystem="Security"   name="LicenseTtlUnits"                  value="day" />
    <dbSetting subsystem="Security"   name="ContextTtlUnits"                  value="minute" />
    <dbSetting subsystem="Auditing"   name="EnableAudit"                      value="True" />
    <dbSetting subsystem="Locking"    name="LockRefreshRate"                  value="1" />
    <dbSetting subsystem="Debug"      name="StoredProcedureLogFilePath"       value="" />
    <dbSetting subsystem="Processing" name="JobPath"                          value="" />
    <dbSetting subsystem="System"     name="AverageDatasetSize"               value="100MB" />
  </dbSettings>
  
  <!-- .NET Versioning Stuff. -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
