<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="folders" type="Viatronix.FoldersConfigSectionHandler, FolderMonitoringService"/>
    <section name="operations" type="Viatronix.OperationsSectionHandler, FolderMonitoringService"/>
  </configSections>

  <operations>
    <operation type="Viatronix.Operations.OldFileCleanupOperation, FolderMonitoringService"/>
  </operations>
  
  <folders>
    <folder path="D:\vxStudies" email="True" subject="[BACKUP] Jira Data Backup" body="Backup of the JIRA data into {0} was done at {1}" from="backup@viatronix.com" type="Backup" system="Jira" source="Jira"/>
  </folders>

  <appSettings>
    <add key="server" value="secure.emailsrvr.com"/>
    <add key="port" value="587"/>
    <add key="cutOffDays" value="30"/> <!-- This denotes that files older than 30 days will be removed by the service. -->
    <add key="hoursBetweenOperations" value="24"/> <!-- This denotes the hours between the execution of operations. -->
    <add key="ssl" value="True"/>
    <add key="from" value="system@viatronix.com"/>
    <add key="user" value="system@viatronix.com"/>
    <add key="password" value="all4one!"/>
    <add key="to" value="administrator@viatronix.com"/>
    <add key="logfile" value="C:\Viatronix\Logs\FolderMonitoringService"/>
    <add key="type" value="Backup"/>
    <add key="connectionString" value="Data Source=(local)\JIRA;Initial Catalog=Viatronix;User Id=v3duser;Password=plugmein65%;"/>
  </appSettings>

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
</configuration>
