<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="messages" type="Viatronix.Utilities.MessagesSectionHandler, utilslib"/>
  </configSections>
  
  <appSettings>
    <add key="SystemTimeToLiveDate" value="2020-12-31"/>
    <add key="NumberOfLicenses" value="2"/>
    <add key="LicenseDuration" value="120"/>
    <add key="LicenseTypes" value="User"/> <!-- Use a pipe '|' to seperate items. -->
    <add key="DefaultLicenseType" value="User"/>
    <add key="DefaultLicenseFile" value="C:\Temp\license"/>
  </appSettings>

  <messages>
    <message code="VX001" desc="SystemTimeToLiveDateInvalidMsgBoxText" value="Date cannot be on or before today's date."/>
    <message code="VX002" desc="SystemTimeToLiveDateInvalidMsgBoxCaption" value="Invalid System Time-To-Live Date"/>
    <message code="VX003" desc="SystemIdCannotBeEmptyMsgBoxText" value="Enter License String/Hash (System Id)."/>
    <message code="VX004" desc="SystemIdCannotBeEmptyMsgBoxCaption" value="System Id Required"/>
    <message code="VX005" desc="IssuedByCannotBeEmptyMsgBoxText" value="Enter name of person issuing license."/>
    <message code="VX006" desc="IssuedByCannotBeEmptyMsgBoxCaption" value="Issued By Required"/>
    <message code="VX007" desc="NumberOfLicensesCannotBeEmptyMsgBoxText" value="Enter the number of licenses to be issued."/>
    <message code="VX008" desc="NumberOfLicensesCannotBeEmptyMsgBoxCaption" value="License Count Cannot Be Empty"/>
    <message code="VX009" desc="NumberOfLicensesMustBeGreaterThanZeroMsgBoxText" value="License count must be greater than 0."/>
    <message code="VX010" desc="NumberOfLicensesMustBeGreaterThanZeroMsgBoxCaption" value="Invalid License Count"/>
    <message code="VX011" desc="NumberOfLicensesMustBeIntegerMsgBoxText" value="License count must be a whole number."/>
    <message code="VX012" desc="NumberOfLicensesMustBeIntegerMsgBoxCaption" value="Invalid License Count"/>
    <message code="VX013" desc="LicenseDurationCannotBeEmptyMsgBoxText" value="Enter number of days license(s) are valid."/>
    <message code="VX014" desc="LicenseDurationCannotBeEmptyMsgBoxCaption" value="License Duration Cannot Be Empty"/>
    <message code="VX015" desc="LicenseDurationMustBeGreaterThanZeroMsgBoxText" value="License duration must be greater than 0."/>
    <message code="VX016" desc="LicenseDurationMustBeGreaterThanZeroMsgBoxCaption" value="Invalid License Duration"/>
    <message code="VX017" desc="LicenseDurationMustBeIntegerMsgBoxText" value="License duration must be a whole number."/>
    <message code="VX018" desc="LicenseDurationMustBeIntegerMsgBoxCaption" value="Invalid License Duration"/>
    <message code="VX019" desc="SuccessfullySavedLicenseFileMsgBoxText" value="License File was successfully generated!"/>
    <message code="VX020" desc="SuccessfullySavedLicenseFileMsgBoxCaption" value="Operation Successful"/>
    <message code="VX021" desc="CouldNotSaveLicenseFileMsgBoxText" value="An error occurred while attempting to save license file.  Please try again.  [ERROR='{0}']"/>
    <message code="VX022" desc="CouldNotSaveLicenseFileMsgBoxCaption" value="Error Saving License File"/>
    <message code="VX023" desc="MustSelectInstallOperationMsgBoxText" value="Must either update the System Time-To-Live Date, install additional licenses or both."/>
    <message code="VX024" desc="MustSelectInstallOperationMsgBoxCaption" value="Select Install Operation"/>
  </messages>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
