<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="messages" type="Viatronix.Utilities.MessagesSectionHandler, utilslib"/>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, vxloglib"/>
  </configSections>
  
  <appSettings>
    <add key="extraValidCharacters" value=""/>
    <!-- extra characters for localized validation on the host's server only! -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
  <messages>
    <message code="VX001" desc="FreeformValidationValueEmpty" value="Value cannot be empty."/>
    <message code="VX002" desc="FreeformValidationInvalidCharacterLessThan" value="Illegal character '&lt;' present in value."/>
    <message code="VX003" desc="FreeformValidationInvalidCharacterGreaterThan" value="Illegal character '&gt;' present in value."/>
    <message code="VX004" desc="HostNameValidationInvalidCharacter" value="Found illegal character in string; available characters are alphanumeric (A-Z, a-z, 0-9), period '.', underscore '_' and dash '-'."/>
    <message code="VX005" desc="PortValidationBounds" value="Value must be between 1 and 65535, inclusive."/>
    <message code="VX006" desc="PortIllegalCharacters" value="Value must contain only numeric characters."/>
    <message code="VX007" desc="DeleteHostMsgBoxText" value="Are you sure you would you like to delete the selected host?"/>
    <message code="VX008" desc="DeleteHostMsgBoxCaption" value="Delete Selected Host?"/>
    <message code="VX009" desc="DeleteAttributeMsgBoxText" value="Are you sure you would like to delete the selected attribute?"/>
    <message code="VX010" desc="DeleteAttributeMsgBoxCaption" value="Delete Selected Attribute?"/>
    <message code="VX011" desc="ReloadHostsMsgBoxText" value="Are you sure you would like to discard all unsaved changes and reload the table from disk?"/>
    <message code="VX012" desc="ReloadHostsMsgBoxCaption" value="Reload Hosts Table?"/>
    <message code="VX013" desc="HostExistsNameMsgBoxText" value="A host already exists with that name."/>
    <message code="VX014" desc="HostExistsNameMsgBoxCaption" value="Host Name Invalid."/>
    <message code="VX015" desc="AttributeExistsMsgBoxText" value="An attribute already exists with that name."/>
    <message code="VX016" desc="AttributeHostExistsMsgBoxCaption" value="Attribute Name Invalid."/>
    <message code="VX017" desc="ValidationErrorNameMsgBoxText" value="An error occurred validating the host's name: "/> <!-- Note that any one of the following messages will follow: VX001, VX002 or VX003. -->
    <message code="VX018" desc="ValidationErrorNameMsgBoxCaption" value="Host Name Validation Error."/>
    <message code="VX019" desc="ValidationErrorServerMsgBoxText" value="An error occurred validating the host's server: "/> <!-- Note that any one of the following messages will follow: VX001, VX002, VX003 or VX004. -->
    <message code="VX020" desc="ValidationErrorServerMsgBoxCaption" value="Host Server Validation Error."/>
    <message code="VX021" desc="ValidationErrorAETitleMsgBoxText" value="An error occurred validating the host's aetitle: "/> <!-- Note that any one of the following messages will follow: VX001, VX002 or VX003. -->
    <message code="VX022" desc="ValidationErrorAETitleMsgBoxCaption" value="Host AETitle Validation Error."/>
    <message code="VX023" desc="ValidationErrorPortMsgBoxText" value="An error occurred validating the host's port: "/> <!-- Note that any one of the following messages will follow: VX005 or VX006. -->
    <message code="VX024" desc="ValidationErrorPortMsgBoxCaption" value="Host Port Validation Error."/>
    <message code="VX025" desc="ValidationErrorAttributeNameMsgBoxText" value="An error occurred validating the attribute's name: "/> <!-- Note that any one of the following messages will follow: VX001, VX002 or VX003. -->
    <message code="VX026" desc="ValidationErrorAttributeNameMsgBoxCaption" value="Attribute Name Validation Error."/>
    <message code="VX027" desc="ValidationErrorAttributeValueMsgBoxText" value="An error occurred validating the attribute's value: "/> <!-- Note that any one of the following messages will follow: VX001, VX002 or VX003. -->
    <message code="VX028" desc="ValidationErrorAttributeValueMsgBoxCaption" value="Attribute Value Validation Error."/>
    <message code="VX029" desc="SaveBeforeClosingMsgBoxText" value="You have unsaved changes in this application.  Would you like to save before exiting?"/>
    <message code="VX030" desc="SaveBeforeClosingMsgBoxCaption" value="Save Changes Before Close?"/>
    <message code="VX031" desc="HostExistsAETitleMsgBoxText" value="A host already exists with that aetitle."/>
    <message code="VX032" desc="HostExistsAETitleMsgBoxCaption" value="Host AETitle Invalid."/>
    <message code="VX033" desc="UnhandledExceptionMsgBoxText" value="An error occurred in performing current operation.  Please contact Viatronix customer service."/>
    <message code="VX034" desc="HostExistsAETitleMsgBoxCaption" value="Contact Viatronix Service."/>
  </messages>
  
  <loggers>
    <logger name="AdministerHostsTable" file="C:\ProgramData\Viatronix\Logs\AdministerHostsTable" level="Verbose" default="true"/>
  </loggers>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
