<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="servers" type="Viatronix.Utilities.Dicom.ServersSectionHandler, ServerTest"/>
  </configSections>
  
  <servers>
    
    <!--
      Define the properties of the dicom server that are to be started. 
      
      Current attributes are:
        aetitle               - Defines the AE title that the server will be started with
        port                  - Defines the port the server will listen on
        validateCalledAETitle - Flag indicating wheather the called AE title field in the incoming association
                                is to be validated. If true the Called AE Title of the association is compared 
                                to the servers AE Title to make sure the connection is correct. The compaison
                                will be case sensitive.
      -->
    <server aetitle="v3dtest" port="105" validateCalledAETitle="true">

      <!--
      List of accepted AE Titles. If any aetitles are defined then only the values in the  list 
      are accepted all others will be denied associations.
      -->
      <acceptedAETitles>
      </acceptedAETitles>


      <!-- 
      Specifiy the abstract syntaxes used for this server. This refer to accepted modalities.
      The first one 'Verification' must be present to allow for the C-ECHO command.
      -->
      <abstractSyntaxes>
        
        <!--Verification          -->
        <uid>1.2.840.10008.1.1</uid>
        
        <!--CT Image Storage      -->
        <uid>1.2.840.10008.5.1.4.1.1.2</uid>
        
      </abstractSyntaxes>

      <!-- 
      Specify the transfer syntaxes allowed for this server. Any others will be rejected.  
      -->
      <transferSyntaxes>

        <!-- Littel Endian Implicit Transfer Syntax   -->
        <uid>1.2.840.10008.1.2</uid>

        <!-- Little Endian Explicit Transfer Syntax   -->
        <uid>1.2.840.10008.1.2.1</uid>
        
      </transferSyntaxes>

    </server>

    <server aetitle="V3D" port="104" validateCalledAETitle="true" storagePath="D:\vxstudies">

      <!--
      List of accepted AE Titles. If any aetitles are defined then only the values in the  list 
      are accepted all others will be denied associations.
      -->
      <acceptedAETitles>
      </acceptedAETitles>


      <!-- 
      Specifiy the abstract syntaxes used for this server. This refer to accepted modalities.
      The first one 'Verification' must be present to allow for the C-ECHO command.
      -->
      <abstractSyntaxes>

        <!--Verification          -->
        <uid>1.2.840.10008.1.1</uid>

        <!--CT Image Storage      -->
        <uid>1.2.840.10008.5.1.4.1.1.2</uid>

        
      </abstractSyntaxes>

      <!-- 
      Specify the transfer syntaxes allowed for this server. Any others will be rejected.  
      -->
      <transferSyntaxes>

        <!-- Littel Endian Implicit Transfer Syntax   -->
        <uid>1.2.840.10008.1.2</uid>

        <!-- Little Endian Explicit Transfer Syntax   -->
        <uid>1.2.840.10008.1.2.1</uid>

      </transferSyntaxes>


    
  </server>

  </servers>

  <system.diagnostics>
    <trace autoflush="true" indentsize="5"/>
    <sources>
      <source name="v3dtest" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="v3d" type="Viatronix.Enterprise.Logging.LogWriterTraceListener, vxentlib" initializeData="server-v3dtest.log">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="V3D" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="v3d" type="Viatronix.Enterprise.Logging.LogWriterTraceListener, vxentlib" initializeData="server-v3d.log">
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
          </add>
          <remove name="Default"/>
        </listeners>
      </source>

    </sources>
    <switches>
      <add name="sourceSwitch" value="Verbose"/>
    </switches>
    <sharedListeners>
    </sharedListeners>
  </system.diagnostics>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
