<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Modified values are stored locally -->
  <localSettings ver="1.0">
    <key name="SystemLogLocation" value="" />
    <key name="SystemLoggerType" value="0" /> <!-- Default=0, ETW=1, Classic=2 -->
    <key name="SystemLogLevel" value="5" />
    <key name="ViewerMonitor" value="-1" />
  </localSettings>
 
  <settings ver="2">
    <webservice value="http://localhost:8000/EnterpriseService/" />
    <language value="English" />
    <database server="(local)\v3d" ver="1.0" >
      <system value="Ov9XHJP0HmspvoW2QotJBDY5xKwdE9FyorgCy84ck7hkXBibC5zYCsxh6r7mMUN4"/>
      <storage	value="Ov9XHJP0HmspvoW2QotJBDY5xKwdE9FyorgCy84ck7hkXBibC5zYCsxh6r7mMUN4"/>
      <security value="a8thiylGcI0nNbX7+8btwL9MmXY6K0MQ470AGYaWQd4=" />
    </database>
    <profiles value="true" />
    <multithreaded-load value="false" />
    <processor ver="2.0">
      <displayQuality2D value="16"/>
      <electronicCleanse value="-1"/>
      <createCAD value="-1"/>
      <compressed3DOn value="0"/>
      <applyInterpolation value="0"/>
      <compressed3DSliceBound value="481"/>
      <residuePercent value="0.02"/>
    </processor>
    <viewer ver="2.0">
      <auto2DFlight value="-1"/>
      <cutRenderSize value="256"/>
      <minRenderSize value="400"/>
      <maxRenderSize value="512"/>
      <minFrameRate value="10.0F"/>
      <maxFrameRate value="26.0F"/>
      <drawDisclaimer value="0"/>
      <fieldOfView3D value="120"/>
      <windowWidthIncreaseRight value="-1"/>
      <movieImageSize value="256"/>
      <movieFrameRate value="15"/>
      <movieRenderSize value="509"/>
      <maxRenderThreads value="16"/>
      <synch3D2DFlight value="0"/>
      <allowDual3DFlight value="-1"/>
      <defaultLinkedDatasets value="-1"/>
      <defaultCadSliderValue value="50"/>
      <alternateProjectionLayouts value="0"/>
      <cadVendors>
        <cadVendor imagePath="config/CadBannerMedicSight.png" name="Medicsight" website="www.medicsight.com"/>
        <cadVendor imagePath="config/CadBanneriCAD.png" name="iCAD VeraLook" website="www.icadmed.com"/>
        <cadVendor imagePath="config/CadBannerBlank.png" name="Viatronix" website="www.viatronix.com"/>
      </cadVendors>
      <allowDataExport value="0"/>
      <cadDisplayName value="CAD"/>
      <enableSRT value="-1"/>
      <outputSROI value="0"/>
      <useULDVolume value="-1"/>
      <Booking value="EnableDualDisplayTabs"/>
    </viewer>
  </settings>

  <!-- These are the initial defaults. -->
  <!-- Modified values are stored globally for the site -->
  <globalSettings ver="1.0">
    <key name="TopMargin" value="1.0" />
    <key name="BottomMargin" value="1.0" />
    <key name="HeaderSelection" value="0" />
    <key name="HeaderText" value="" />
    <key name="Numbering" value="-1" />
    <key name="AddCRADStoReport" value="true" />
    <key name="ReportDisclaimer" value="" />
    <key name="PacsSupportsEncapsulatedPdf" value="false"/>
    <key name="PacsAeTitleLocal" value="v3D" />
    <key name="PacsAeTitleServer" value="kodak-pacsFIR" />
    <key name="PacsHostname" value="192.168.0.126" />
    <key name="PacsPort" value="2104" />
    <key name="PacsSingleSeries" value="true" />
    <key name="SendToPacs" value="3" />
  </globalSettings>

  <!-- These are the initial defaults. -->
  <!-- Modified values are stored in the user's roaming profile -->
  <userSettings ver="1.0">
    <key name="ColorScheme" value="0" />
    <key name="DetectWidescreen" value="0" />
    <key name="DisplayCoord" value="0" />
    <key name="FieldOfView" value="120" />
    <key name="FlightParams" value="200,180.0,0.0015,0.015" />
    <key name="FlightSpeed" value="200.0" />
    <key name="LinkDatasets" value="true" />
    <key name="PseudoColor" value="0" />
    <key name="QuickAnnotationName" value="Stool" />
    <key name="ScrollbarLocation" value="0" />
    <key name="Show2DMeasurementProfile" value="false" />
    <key name="ShowCenterline" value="true" />
    <key name="ShowExtraColonicFindings" value="true" />
    <key name="ShowUncleansed" value="false" />
    <key name="TranslucencySettings" value="" />
    <key name="VolumeMeasureAirOnly" value="true" />
  </userSettings>

  <translucency ver="1.0">
    <ThresholdsSetting Name="Fat in Pink" Owner="Service User">
      <Threshold Value="0">
        <Previous Red="0" Green="0" Blue="0" Opacity="0"/>
        <Next Red="0" Green="0" Blue="132" Opacity="0"/>
      </Threshold>
      <Threshold Value="30.97815">
        <Previous Red="0" Green="0" Blue="140" Opacity="0.013"/>
        <Next Red="0" Green="0" Blue="200" Opacity="0.091"/>
      </Threshold>
      <Threshold Value="96.37647">
        <Previous Red="0" Green="0" Blue="206" Opacity="0.091"/>
        <Next Red="255" Green="255" Blue="0" Opacity="0.143"/>
      </Threshold>
      <Threshold Value="99.60336">
        <Previous Red="255" Green="128" Blue="192" Opacity="0.143"/>
        <Next Red="255" Green="128" Blue="192" Opacity="0.156"/>
      </Threshold>
      <Threshold Value="119.8252">
        <Previous Red="255" Green="255" Blue="0" Opacity="0.156"/>
        <Next Red="255" Green="0" Blue="0" Opacity="0.162"/>
      </Threshold>
      <Threshold Value="126.279">
        <Previous Red="255" Green="0" Blue="0" Opacity="0.305"/>
        <Next Red="255" Green="0" Blue="0" Opacity="0.378"/>
      </Threshold>
      <Threshold Value="154.4605">
        <Previous Red="255" Green="255" Blue="255" Opacity="0.378"/>
        <Next Red="255" Green="255" Blue="255" Opacity="0.622"/>
      </Threshold>
      <Threshold Value="256">
        <Previous Red="255" Green="255" Blue="255" Opacity="0.378"/>
        <Next Red="255" Green="255" Blue="255" Opacity="0.622"/>
      </Threshold>
    </ThresholdsSetting>
    <ThresholdsSetting Name="IV Contrast" Owner="Service User">
      <Threshold Value="0">
        <Previous Red="0" Green="0" Blue="0" Opacity="0"/>
        <Next Red="0" Green="0" Blue="140" Opacity="0"/>
      </Threshold>
      <Threshold Value="31.76043">
        <Previous Red="0" Green="0" Blue="140" Opacity="0.013"/>
        <Next Red="0" Green="0" Blue="255" Opacity="0.091"/>
      </Threshold>
      <Threshold Value="48.46203">
        <Previous Red="0" Green="0" Blue="255" Opacity="0.091"/>
        <Next Red="185" Green="192" Blue="255" Opacity="0.143"/>
      </Threshold>
      <Threshold Value="75.29412">
        <Previous Red="255" Green="255" Blue="255" Opacity="0.143"/>
        <Next Red="255" Green="255" Blue="255" Opacity="0.156"/>
      </Threshold>
      <Threshold Value="139.9102">
        <Previous Red="255" Green="255" Blue="255" Opacity="0.156"/>
        <Next Red="255" Green="0" Blue="0" Opacity="0.162"/>
      </Threshold>
      <Threshold Value="148.1241">
        <Previous Red="255" Green="0" Blue="0" Opacity="0.305"/>
        <Next Red="255" Green="0" Blue="0" Opacity="0.378"/>
      </Threshold>
      <Threshold Value="165.0995">
        <Previous Red="255" Green="255" Blue="255" Opacity="0.378"/>
        <Next Red="255" Green="255" Blue="255" Opacity="0.622"/>
      </Threshold>
      <Threshold Value="256">
        <Previous Red="255" Green="255" Blue="255" Opacity="0.378"/>
        <Next Red="255" Green="255" Blue="255" Opacity="0.622"/>
      </Threshold>
    </ThresholdsSetting>
    <ThresholdsSetting Name="Muscle in Yellow" Owner="Service User">
      <Threshold Value="0">
        <Previous Red="0" Green="0" Blue="0" Opacity="0"/>
        <Next Red="0" Green="0" Blue="140" Opacity="0"/>
      </Threshold>
      <Threshold Value="31.76043">
        <Previous Red="0" Green="0" Blue="140" Opacity="0.013"/>
        <Next Red="255" Green="128" Blue="128" Opacity="0.091"/>
      </Threshold>
      <Threshold Value="106.507">
        <Previous Red="255" Green="128" Blue="128" Opacity="0.091"/>
        <Next Red="255" Green="0" Blue="0" Opacity="0.143"/>
      </Threshold>
      <Threshold Value="125.9465">
        <Previous Red="255" Green="0" Blue="0" Opacity="0.143"/>
        <Next Red="255" Green="255" Blue="0" Opacity="0.156"/>
      </Threshold>
      <Threshold Value="134.9818">
        <Previous Red="255" Green="255" Blue="0" Opacity="0.156"/>
        <Next Red="255" Green="0" Blue="0" Opacity="0.162"/>
      </Threshold>
      <Threshold Value="145.9337">
        <Previous Red="255" Green="0" Blue="0" Opacity="0.305"/>
        <Next Red="255" Green="128" Blue="128" Opacity="0.378"/>
      </Threshold>
      <Threshold Value="151.9572">
        <Previous Red="255" Green="255" Blue="255" Opacity="0.378"/>
        <Next Red="255" Green="255" Blue="255" Opacity="0.622"/>
      </Threshold>
      <Threshold Value="256">
        <Previous Red="255" Green="255" Blue="255" Opacity="0.378"/>
        <Next Red="255" Green="255" Blue="255" Opacity="0.622"/>
      </Threshold>
    </ThresholdsSetting>
    <WindowLevelSetting Name="dd" Window="1527" Level="747"/>
  </translucency>

  <vxColormap member="colormap" version="2.0">
    <StdString member="name">Translucent</StdString>
    <vxWindowLevel member="window/level" version="2.0">
      <ZeroOne member="window" value="0.04884"/>
      <ZeroOne member="level" value="0.128205"/>
    </vxWindowLevel>
    <StdVector member="red list" template="Point2D" version="2.0">
      <Point2D member="0" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="0"/>
        <ZeroOne member="y" value="0.992157"/>
      </Point2D>
      <Point2D member="1" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="0.481618"/>
        <ZeroOne member="y" value="0.992157"/>
      </Point2D>
      <Point2D member="2" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="1"/>
        <ZeroOne member="y" value="1"/>
      </Point2D>
    </StdVector>
    <StdVector member="green list" template="Point2D" version="2.0">
      <Point2D member="0" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="0"/>
        <ZeroOne member="y" value="0.992157"/>
      </Point2D>
      <Point2D member="1" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="0.481618"/>
        <ZeroOne member="y" value="0.996078"/>
      </Point2D>
      <Point2D member="2" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="1"/>
        <ZeroOne member="y" value="1"/>
      </Point2D>
    </StdVector>
    <StdVector member="blue list" template="Point2D" version="2.0">
      <Point2D member="0" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="0"/>
        <ZeroOne member="y" value="0.988235"/>
      </Point2D>
      <Point2D member="1" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="0.481618"/>
        <ZeroOne member="y" value="0.988235"/>
      </Point2D>
      <Point2D member="2" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="1"/>
        <ZeroOne member="y" value="1"/>
      </Point2D>
    </StdVector>
    <StdVector member="alpha list" template="Point2D" version="2.0">
      <Point2D member="0" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="0"/>
        <ZeroOne member="y" value="0"/>
      </Point2D>
      <Point2D member="1" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="0.485294"/>
        <ZeroOne member="y" value="0.244444"/>
      </Point2D>
      <Point2D member="2" template="ZeroOne" version="2.0">
        <ZeroOne member="x" value="1"/>
        <ZeroOne member="y" value="0.0222222"/>
      </Point2D>
    </StdVector>
    <Bool member="active range" value="true"/>
  </vxColormap>



</configuration>
