<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
    <section name="server" type="Viatronix.Services.ServerSectionHandler, LoggingService"/>
  </configSections>
  <!-- =========================================================================  -->
  <!-- Application settings                                                       -->
  <!--                                                                            -->
  <!-- delay    Amount of time to delay the start of the service in milliseconds -->
  <!-- =========================================================================  -->
  <appSettings>
    <add key="delay" value="1000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  
  <!-- ============================================================================================================ -->
  <!-- Logger definitions                                                                                           -->
  <!--                                                                                                              -->
  <!-- Attributes:                                                                                                  -->
  <!--                                                                                                              -->
  <!-- name     required  Unique name used to identify the logger. Will also be used as the filename's              -->
  <!--                    root of not 'file' attribute is specified.                                                -->
  <!--                                                                                                              -->
  <!-- level    required  Level of the logging                                                                      -->
  <!--            Verbose, Highest                                                                                  -->
  <!--            Debug                                                                                             -->
  <!--            Timing                                                                                            -->
  <!--            Information                                                                                       -->
  <!--            Warning                                                                                           -->
  <!--            Error, Exception                                                                                  -->
  <!--            Critical                                                                                          -->
  <!-- format   Format of the message eith Xml or Text  (Default is xml)                                            -->
  <!--                                                                                                              -->
  <!-- default  required  Flag indicating the logger is the default. This allows for backward compatibility when    -->
  <!--                    the CORE libraries are used since they log only to the default. Only one logger should    -->
  <!--                    be marked as default. If more then one is then the last one in the list will be the       -->
  <!--                    default.                                                                                  -->
  <!--                                                                                                              -->
  <!-- file     optional  If specified identifies the file and path the logger is to use. If not specified then     -->
  <!--                    the logger will use the application data directory for the OS it is running on and        -->
  <!--                    append Viatronix\Logs\<name>.ext to it.                                                   -->
  <!--                                                                                                              -->
  <!-- ============================================================================================================ -->
  <loggers>
    <logger name="LoggingService" level="Verbose" default="true"/>
  </loggers>
  <!-- ================================================================================== -->
  <!-- Logging Server configuration                                                    -->
  <!-- ================================================================================== -->
  <server port="2000"/>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
