<configuration>
  <appSettings>

    <!--Add your add id name here-->
    <add key="appIDs" value="YourCompanyName.CadProcessorPlugin,Type in New AppIds" />

    <add key="DicomFolder" value="C:\DICOMFolder" />
    <add key="selectedAppId" value="YourCompanyName.CadProcessorPlugin"/>
    <add key="process" value="true"/>
   
    <add key="WorkingFolder" value="c:\WorkingFolder"/>
    <add key="conversionApp" value="Conversion\Viatronix.v3D.Processor.Plugins.Conversion.exe" />
    <add key="pipelineApp" value="VC\Viatronix.v3D.Processor.Plugins.Colon.exe" />
    <add key="CADPlugin" value="CAD\Viatronix.v3D.Processor.Plugins.CAD.exe" />
  </appSettings>
</configuration>