<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="instance" value="(local)\V3D"/>
    <add key="password" value=""/>
    <add key="script" value=""/>
    <add key="showscripts" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
