<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="transferProviders" type="Viatronix.Utilities.Transfer.TransferProvidersSectionHandler, Transfer"/>
    <section name="providers" type="Viatronix.Enterprise.Configuration.ProviderSection, v3dent"/>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
  </configSections>
  
  <appSettings>
    <add key="AETitle" value="V3D_SCU"/>
  </appSettings>
  
  <loggers>
    <logger name="Transfer" file="Transfer" level="Verbose" default="true"/>
  </loggers>

  <!-- 
  ============================================================================================================================================================  
   Section:     Providers                                                                                                                                         
   Description: List all the providers used within the application. There must be al least on security provider.                                                  
                                                                                                                                                                  
   Provider Xml Attribute Defintion                                                                                                                               
                                                                                                                                                                  
   Attribute  Required    Dscription                                                                                                                              
   
   name         Y         Name of the provider, must be unique.                                                                                                   
   type         Y         Fully Qualified Type name. This is the type that will be created by the ProviderFactory                                                 
   url          N         Used to identify a connection point for the provider. May be left off if there is not connection point such as the Database providers   
   aetitle      N         AE Title to be used for the provoder (PACS Providers)                                                                                   
   renewal      N         Renewal time in minutes. If this attribute is present and has a value > 0 then a renewal provider will be created internally in the     
                          provider if the provider is a security provider. If the entry is absent or 0 then the renewal provider implemented in the security      
                          provider will be disabled and it will be the applications responsibility to perform the context renewal.                                
   security     N         Security provider name that the provider links to. This is not required as the first defined security provider will be used. If         
                          you want to link providers to another security provider defined in the list you may use this attribute to do so.                        
   ver          Y         Version of the xml (1.0)                                                                                                                                                                                                                                                                   
                                                                                                                                                                  
                                                                                                                                                                  
  ============================================================================================================================================================ 
  -->
  <providers>
    <!-- REST PROVIDERS -->
    <!--  
    <provider name="security" type="Viatronix.Enterprise.SDK.Providers.RestSecurityProvider, v3dent" url="http://apollo:8000/EnterpriseService" ver="1.0"/>
    <provider name="data" type="Viatronix.Enterprise.SDK.Providers.RestDataProvider, v3dent" url="http://apollo:8000/EnterpriseService" ver="1.0"/>
    <provider name="pacs" type="Viatronix.Enterprise.SDK.Providers.DirectPacsProvider, v3dent" aetitle="V3D" ver="1.0"/>
    -->
    <!-- DATABASE PROVIDERS/DIRECT PACS PROVIDER -->
    <provider name="security" type="Viatronix.Enterprise.SDK.Providers.DatabaseSecurityProvider, v3dent" ver="1.0"/>
    <provider name="data" type="Viatronix.Enterprise.SDK.Providers.DatabaseDataProvider, v3dent" ver="1.0"/>
    <provider name="pacs" type="Viatronix.Enterprise.SDK.Providers.DirectPacsProvider, v3dent" aetitle="V3D" ver="1.0"/>
  </providers>
  
  <!-- 
  ============================================================================================================================================================  
  Section:     TransferProviders 
  Description: List all available providers used to transfer study data to the selected directory.

  TransferProvider Xml Attribute Defintion                                                                                                                               

  Attribute                Required  Description
  
  name                        Y      The name of the provider.  Used to give the user a selection.
  tooltip                     N      Used to provide details about the transfer provider to the user.  If not specified default is an empty string.
  typename                    Y      The class that performs the transfer.
  isAnonymizeEnabled          N      Determines if the transfer results can be anonymized for user protection.  If not specified, default is false.
  canChangeTransferContents   N      Determines if the user can change the specific items that are transferred.  If not specified, default is false.

  Item Xml Attribute Definition
  
  Attribute                Required  Description
  
  name                        Y      The name of the transfer item. 
  app                         Y      The application type to which this item applies.  Specify * for any application type.
  series                      Y      The series type to which this item applies.
  searchInFolder              Y      The relative path inside the series folder in which to find appropriate files.  Specify "" to search the series directory.
  formats                     Y      The files that apply to this format.  Specify *.* for all files in the applicable directory.
  isChecked                   Y      The default check state for this item.  During execution user will be able to change it if provider's canChangeTransferContents is true.
  isRequired                  Y      Is this item required for transfer?  If so, the first item (by filter) will be included.
  isDisabledAnonymization     Y      Is this item enabled for transfer if anonymization is checked?
  
  ============================================================================================================================================================  
  -->  
  <transferProviders>
    <transferProvider name="PACS" tooltip="Transfer to PACS" typename="Viatronix.Utilities.Transfer.Models.PACSTransferModel, Transfer" isAnonymizeEnabled="false" canChangeTransferContents="true">
      <transferItems>
        <item name="Snapshots" app="vc" series="Session" searchInFolder="Snapshots" formats="*.png" isChecked="true" isRequired="false"/>
        <item name="Reports" app="vc" series="Session" searchInFolder="Reports" formats="*.pdf" isChecked="true" isRequired="false"/>
        <item name="Movies" app="vc" series="Session" searchInFolder="Movies" formats="*.avi,*.wmv,*.png,*.jpg" isChecked="true" isRequired="false"/>
        <item name="Reports" app="*" series="Session" searchInFolder="Reports" formats="report.xml" isChecked="true" isRequired="false"/>
        <item name="Movies" app="*" series="Session" searchInFolder="Movies" formats="*.avi,*.wmv,*.png" isChecked="true" isRequired="false"/>
        <item name="DICOM" app="*" series="Dicom" searchInFolder="dicom" formats="*.dcm" isChecked="false" sessiontypename="" isRequired="true"/>
      </transferItems>
    </transferProvider>
    <transferProvider name="Patient Disc" tooltip="CD which you can provide to patient." typename="Viatronix.Utilities.Transfer.Models.PatientDiscTransferModel, Transfer" isAnonymizeEnabled="false" canChangeTransferContents="true">
      <transferItems>
        <item name="Snapshots" app="vc" series="Session" searchInFolder="Snapshots" formats="*.png" isChecked="true" isRequired="false"/>
        <item name="Reports" app="vc" series="Session" searchInFolder="Reports" formats="*.pdf" isChecked="true" isRequired="false"/>
        <item name="Movies" app="vc" series="Session" searchInFolder="Movies" formats="*.avi,*.wmv,*.png,*.jpg" isChecked="true" isRequired="false"/>
        <item name="Snapshots" app="*" series="Session" searchInFolder="Snapshots" formats="*.jpg,*.png" isChecked="true" isRequired="false"/>
        <item name="Reports" app="*" series="Session" searchInFolder="Reports" formats="report.xml" isChecked="true" isRequired="false"/>
        <item name="Movies" app="*" series="Session" searchInFolder="Movies" formats="*.avi,*.wmv,*.png" isChecked="true" isRequired="false"/>
        <item name="DICOM" app="*" series="Dicom" searchInFolder="dicom" formats="*.dcm" isChecked="true" isRequired="true"/>
      </transferItems>
    </transferProvider>
    <transferProvider name="Archival Disc" tooltip="CD archive." typename="Viatronix.Utilities.Transfer.Models.ArchivalDiscTransferModel, Transfer" isAnonymizeEnabled="true" canChangeTransferContents="false">
      <transferItems>
        <item name="Snapshots" app="vc" series="Session" searchInFolder="Snapshots" formats="*.png" isChecked="true" isRequired="false"/>
        <item name="Reports" app="vc" series="Session" searchInFolder="Reports" formats="*.pdf" isChecked="true" isRequired="false"/>
        <item name="Movies" app="vc" series="Session" searchInFolder="Movies" formats="*.avi,*.wmv,*.jpg,*.png" isChecked="true" isDisabledAnonymization="true" isRequired="false"/>
        <item name="Preprocessed" app="vc" series="Preprocessed" searchInFolder="" formats="*.*" isChecked="true" isRequired="false"/>
        <item name="CAD" app="vc" series="CAD" searchInFolder="" formats="*.*" isChecked="true" sessiontypename="" isRequired="false"/>
        <item name="Snapshots" app="*" series="Session" searchInFolder="Snapshots" formats="*.jpg,*.png" isChecked="true" isRequired="false"/>
        <item name="Reports" app="*" series="Session" searchInFolder="Reports" formats="report.xml" isChecked="true" isRequired="false"/>
        <item name="Movies" app="*" series="Session" searchInFolder="Movies" formats="*.avi,*.wmv,*.png" isChecked="true" isDisabledAnonymization="true" isRequired="false"/>
        <item name="DICOM" app="*" series="Dicom" searchInFolder="dicom" formats="*.dcm" isChecked="true" isRequired="true"/>
        <item name="Preprocessed" app="*" series="Preprocessed" searchInFolder="" formats="*.*" isChecked="true" isRequired="false"/>
        <item name="CAD" app="*" series="CAD" searchInFolder="" formats="*.*" isChecked="true" isRequired="false"/>
      </transferItems>
    </transferProvider>
    <transferProvider name="File System Archival" tooltip="Stores to the File System for Archival." typename="Viatronix.Utilities.Transfer.Models.FileSystemTransferModel, Transfer" isAnonymizeEnabled="true" canChangeTransferContents="false">
      <transferItems>
        <item name="Snapshots" app="vc" series="Session" searchInFolder="Snapshots" formats="*.png" isChecked="true" isRequired="false"/>
        <item name="Reports" app="vc" series="Session" searchInFolder="Reports" formats="*.pdf" isChecked="true" isRequired="false"/>
        <item name="Movies" app="vc" series="Session" searchInFolder="Movies" formats="*.avi,*.wmv,.*jpg,*.png" isChecked="true" isDisabledAnonymization="true" isRequired="false"/>
        <item name="Preprocessed" app="vc" series="Preprocessed" searchInFolder="" formats="*.*" isChecked="true" isRequired="false"/>
        <item name="CAD" app="vc" series="CAD" searchInFolder="" formats="*.*" isChecked="true" isRequired="false"/>
        <item name="Snapshots" app="*" series="Session" searchInFolder="Snapshots" formats="*.jpg,*.png" isChecked="true" isRequired="false"/>
        <item name="Reports" app="*" series="Session" searchInFolder="Reports" formats="report.xml" isChecked="true" isRequired="false"/>
        <item name="Movies" app="*" series="Session" searchInFolder="Movies" formats="*.avi,*.wmv,*.png" isChecked="true" isDisabledAnonymization="true" isRequired="false"/>
        <item name="DICOM" app="*" series="Dicom" searchInFolder="dicom" formats="*.dcm" isChecked="true" isRequired="false"/>
        <item name="Preprocessed" app="*" series="Preprocessed" searchInFolder="" formats="*.*" isChecked="true" isRequired="false"/>
        <item name="CAD" app="*" series="CAD" searchInFolder="" formats="*.*" isChecked="true" isRequired="false"/>
      </transferItems>
    </transferProvider>
  </transferProviders>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
</configuration>
