<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="servers" type="Viatronix.Services.ServersSectionHandler, DicomService"/>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
  </configSections>
  
  
  <!-- =========================================================================  -->
  <!-- Application settings                                                       -->
  <!--                                                                            -->
  <!-- delay    Amount of time to delay the start of the service in milliseconds -->
  <!-- ttl      Time to live used for the context                                 -->
  <!-- user     User used to acquire the context                                  -->
  <!-- password Password used to acquire context                                  -->
  <!-- type     Type of license used when acquiring the context                   -->
  <!-- ClientSettingsProvider.ServiceUri                                          -->
  <!-- =========================================================================  -->
  <appSettings>
    <add key="delay" value="5000"/>
    <add key="database" value="true"/>
    <add key="thumbnails" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="storeToDatabase" value="True"/>
    <add key="connectionStrings" value="C:\ProgramData\Viatronix\Config\connections.config"/>
  </appSettings>


  <!-- ============================================================================================================ -->
  <!-- Logger definitions                                                                                           -->
  <!--                                                                                                              -->
  <!-- Attributes:                                                                                                  -->
  <!--                                                                                                              -->
  <!-- name     required  Unique name used to identify the logger. Will also be used as the filename's              -->
  <!--                    root of not 'file' attribute is specified.                                                -->
  <!--                                                                                                              -->
  <!-- level    required  Level of the logging                                                                      -->
  <!--            Verbose, Highest                                                                                  -->
  <!--            Debug                                                                                             -->
  <!--            Timing                                                                                            -->
  <!--            Information                                                                                       -->
  <!--            Warning                                                                                           -->
  <!--            Error, Exception                                                                                  -->
  <!--            Critical                                                                                          -->
  <!-- format   Format of the message eith Xml or Text  (Default is xml)                                            -->
  <!--                                                                                                              -->
  <!-- default  required  Flag indicating the logger is the default. This allows for backward compatibility when    -->
  <!--                    the CORE libraries are used since they log only to the default. Only one logger should    -->
  <!--                    be marked as default. If more then one is then the last one in the list will be the       -->
  <!--                    default.                                                                                  -->
  <!--                                                                                                              -->
  <!-- file     optional  If specified identifies the file and path the logger is to use. If not specified then     -->
  <!--                    the logger will use the application data directory for the OS it is running on and        -->
  <!--                    append Viatronix\Logs\<name>.ext to it.                                                   -->
  <!--                                                                                                              -->
  <!-- ============================================================================================================ -->
  <loggers>
    <logger name="V3D" level="Verbose" format="Xml"/>
    <logger name="DicomService" level="Verbose" default="true" format="Text"/>
  </loggers>
  
  
  <!-- ================================================================================== -->
  <!-- Dicom server definitions/configuration                                             -->
  <!--                                                                                    -->
  <!-- acceptedAETItles   List of AE Titles that are allowed access to the DICOM server   -->
  <!-- abstractSyntaxes   List of accepted syntaxes for data transfer. These include      -->
  <!--                    images types such as CT, MR, PET, etc.                          -->
  <!-- transferSyntaxes   List of accepted transfer syntaxes used for data transfer.      -->
  <!--                    Include Implicit and Explicit.                                   -->
  <!-- storagePath="D:\vxstudies"                                                         -->
  <!-- ================================================================================== -->
  <servers>
    <server aetitle="V3D" port="104" validateCalledAETitle="true" logSource="V3D" auto="false">
      <!--
      List of accepted AE Titles. If any aetitles are defined then only the values in the  list 
      are accepted all others will be denied associations.
      -->
      <acceptedAETitles>
      </acceptedAETitles>
      <!-- 
      Specifiy the abstract syntaxes used for this server. This refer to accepted modalities.
      The first one 'Verification' must be present to allow for the C-ECHO command.
      -->
      <abstractSyntaxes>
        <!--Verification          -->
        <uid>1.2.840.10008.1.1</uid>
        <!--CT Image Storage      -->
        <uid>1.2.840.10008.5.1.4.1.1.2</uid>
        <!--CT Enhanced Image Storage      -->
        <uid>1.2.840.10008.5.1.4.1.1.2.1</uid>
        <!--MR Image Storage      -->
        <uid>1.2.840.10008.5.1.4.1.1.4</uid>
        <!--MR Enhanced Image Storage      -->
        <uid>1.2.840.10008.5.1.4.1.1.4.1</uid>
        <!--MR Spectroscopy Storage Storage      -->
        <uid>1.2.840.10008.5.1.4.1.1.4.2</uid>
        <!-- Ultrasound Image Storage Retired -->
        <uid>1.2.840.10008.5.1.4.1.1.6</uid>
        <!-- Ultrasound Image Storage -->
        <uid>1.2.840.10008.5.1.4.1.1.6.1</uid> 
        <!--SC Image Storage      -->
        <uid>1.2.840.10008.5.1.4.1.1.7</uid>
        <!-- Encapsulated PDF Storage -->
        <uid>1.2.840.10008.5.1.4.1.1.104.1</uid>
        <!-- X-Ray Angiographic Image Storage -->
        <uid>1.2.840.10008.5.1.4.1.1.12.1</uid>
        <!-- Enhanced XA Image Storage -->
        <uid>1.2.840.10008.5.1.4.1.1.12.1.1</uid>
        <!-- X-Ray Radiofluoroscopic Image Storage -->
        <uid>1.2.840.10008.5.1.4.1.1.12.2</uid>      
        <!-- Enhanced XRF Image Storage -->
        <uid>1.2.840.10008.5.1.4.1.1.12.2.1</uid>
        <!-- Positron Emission Tomography Curve Storage  Retired -->
        <uid>1.2.840.10008.5.1.4.1.1.128</uid>        
        <!-- Standalone Positron Emission Tomography Curve Storage  Retired -->
        <uid>1.2.840.10008.5.1.4.1.1.129</uid>
        <!-- NM Image Storage -->
        <uid>1.2.840.10008.5.1.4.1.1.20</uid> 

        <!-- UID_FINDPatientRootQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.1.1</uid>
        <!-- UID_MOVEPatientRootQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.1.2</uid>
        <!-- UID_GETPatientRootQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.1.3</uid>
        <!-- UID_FINDStudyRootQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.2.1</uid>
        <!-- UID_MOVEStudyRootQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.2.2</uid>
        <!-- UID_GETStudyRootQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.2.3</uid>
        <!-- UID_FINDPatientStudyOnlyQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.3.1</uid>
        <!-- UID_MOVEPatientStudyOnlyQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.3.2</uid>
        <!-- UID_GETPatientStudyOnlyQueryRetrieveInformationModel -->
        <uid>1.2.840.10008.5.1.4.1.2.3.3</uid>
        <!-- UID_FINDModalityWorklistInformationModel -->
        <uid>1.2.840.10008.5.1.4.31</uid>
        <!-- UID_FINDGeneralPurposeWorklistInformationModel -->
        <uid>1.2.840.10008.5.1.4.32.1</uid>
        <!-- UID_EnhancedCTImageStorage -->
        <uid>1.2.840.10008.5.1.4.1.1.2.1</uid>
        <!-- UID_EnhancedMRImageStorage -->
        <uid>1.2.840.10008.5.1.4.1.1.4.1</uid>
      </abstractSyntaxes>
      <!-- 
      Specify the transfer syntaxes allowed for this server. Any others will be rejected.  
      -->
      <transferSyntaxes>
        <!-- Littel Endian Implicit Transfer Syntax   -->
        <uid>1.2.840.10008.1.2</uid>
        <!-- Little Endian Explicit Transfer Syntax   -->
        <uid>1.2.840.10008.1.2.1</uid>
      </transferSyntaxes>
    </server>
  </servers>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
