<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, vxloglib"/>
    <section name="messages" type="Viatronix.Utilities.MessagesSectionHandler, utilslib"/>
  </configSections>
  
  <appSettings>
    <add key="verbose" value="true"/>
  </appSettings>
  
  <connectionStrings>
    <add name="System" connectionString="s1J845VhIu9pddAE594mptqO9MKhR1k7ufIjSS/b8i8ZZ1arnecwqfrhKGkK76mbwM8xAVeNALNyyYY0KR+JLKEqUBeb1eBVbkczqBHSgJY="/>
  </connectionStrings>

  <messages>
    <message code="VX001" desc="LicenseFileErrorMsgBoxText" value="An error occurred reading the license file.  Please contact Viatronix customer support."/>
    <message code="VX002" desc="LicenseFileErrorMsgBoxText" value="Error Reading License File"/>
    <message code="VX003" desc="InstallationSuccessfulMsgBoxText" value="Installation was successful!"/>
    <message code="VX004" desc="InstallationSuccessfulMsgBoxCaption" value="Installation Successful"/>
    <message code="VX005" desc="InstallationFailedMsgBoxText" value="Installation failed.  Please contact Viatronix customer support."/>
    <message code="VX006" desc="InstallationFailedMsgBoxCaption" value="Installation Failed"/>
    <message code="VX007" desc="LicenseFileNotSpecifiedMsgBoxText" value="The location of the license file must be supplied before proceeding."/>
    <message code="VX008" desc="LicenseFileNotSpecifiedMsgBoxCaption" value="License File Location Not Specified"/>
    <message code="VX009" desc="SystemIdMismatchMsgBoxText" value="The license file is invalid for this system.  Please contact Viatronix customer support."/>
    <message code="VX010" desc="SystemIdMismatchMsgBoxCaption" value="Invalid License File"/>
    <message code="VX011" desc="LicenseFileAlreadyInstalledMsgBoxText" value="The license file has already been installed.  Please contact Viatronix customer support."/>
    <message code="VX012" desc="LicenseFileAlreadyInstalledMsgBoxCaption" value="License File Already Installed"/>
  </messages>

  <loggers>
    <logger name="LicenseInstaller" file="LicenseInstaller" level="Verbose" default="true"/>
  </loggers>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
