<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="loggers" type="Viatronix.Logging.LoggersSection, v3dlog"/>
  </configSections>


  <loggers>
    <logger name="createvolume" file="C:\ProgramData\Viatronix\Logs\CreateVolume.log" level="Verbose" default="true"/>
  </loggers>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
