<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="types" type="Viatronix.Utilities.BackupAuditViewer.SearchTermsSectionHandler, BackupAuditViewer"/>
    <section name="systems" type="Viatronix.Utilities.BackupAuditViewer.SearchTermsSectionHandler, BackupAuditViewer"/>
  </configSections>

  <types>
    <type>Backup</type>
    <type>Verify</type>
  </types>

  <systems>
    <system>CVS</system>
    <system>Jira</system>
    <system>Quick Books</system>
    <system>Subversion</system>
  </systems>
  
  <connectionStrings>
    <add name="Auditing" providerName="System.Data.SqlClient" connectionString="user id=sa;password=vxpushpin;server=HOMER\V3DENT;database=Viatronix"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
